noscript
  iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-KJ9DLQW', height='0', width='0',
  style='display:none;visibility:hidden')

nav.navbar.navbar-inverse.navbar-static-top.navbar-fixed-top#navbar-header
  .container
    .navbar-header
    block links
