noscript
  iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-KJ9DLQW', height='0', width='0',
  style='display:none;visibility:hidden')

header.l-header.navbar.navbar-inverse.navbar-static-top.navbar-fixed-top#navbar-header
  nav.container
    .navbar-header
      .c-select.u-md-only
        span.c-select__lang.js-select-lang
        .c-select__opt
          .c-select__bg
            ul.c-select__options
              li.c-select__option EN
              li.c-select__option JA
      button.navbar-toggle.js-nav-toggler.p-nav-trigger
      a.navbar-brand(href='/')
        img.navbar-brand__logo(src='/img/pc/header_logo.png', alt='ALIS')
    block links
