#cover-after-ico.cover-after-ico
  // TODO: "carousel-inner" のclassを除却
  .carousel-inner
    .item.active
      .container
        .row
          .col-md-12
            .cover-after-ico__caption
              h2
                | #{cover.caption_after_ico}
              p
                em #{cover.caption_after_ico_line_two}

        .row
          .col-md-12
