#cover.cover
  // TODO: "carousel-inner" のclassを除却
  .carousel-inner
    .item.active
      .container
        .row
          .col-md-12
            .cover__caption
              h2
                | #{cover.caption_line_one}
              p
                | #{cover.caption_line_two.before}
                em #{cover.caption_line_two.japan}
                | #{cover.caption_line_two.after}
        .row
          .col-md-12
            .cover__buttons
              a(href="https://alisproject.github.io/whitepaper/whitepaper_v1.01.pdf", target="_blank") Read Whitepaper
              a(href="https://t.me/joinchat/EpPqEw2aZl7q3oI7PeAEYA" target="_blank") Join Telegram
