.container.footer
  footer
    ul.footer__sns-links.nav.navbar-nav
      li
        a.btn.btn-social-icon.btn-lg.footer__sns-links__link(href='https://twitter.com/ALIS_media', target='blank')
          i.fa.fa-twitter
      li
        a.btn.btn-social-icon.btn-lg.footer__sns-links__link(href='https://alis-slack.herokuapp.com/', target='blank')
          i.fa.fa-slack
      li
        a.btn.btn-social-icon.btn-lg.footer__sns-links__link(href='https://medium.com/@alismedia', target='blank')
          i.fa.fa-medium
      li
        a.btn.btn-social-icon.btn-lg.footer__sns-links__link(href='https://github.com/AlisProject', target='blank')
          i.fa.fa-github
      li
        a.btn.btn-social-icon.btn-lg.footer__sns-links__link(href='https://goo.gl/forms/cpmvkbJN8wW4Bh5J2', target='blank')
          i.fa.fa-send
    p
      | © ALIS. ·
      a(href='#') Privacy
