extends _navbar

block links
  #navbar.navbar-collapse.collapse
    ul.nav.navbar-nav
      li
        a.smooth-anchor(href='#service-information') #{navbar.whitepaper}
      li
        a.smooth-anchor(href='#service-information') #{navbar.roadmap}
      li
        a.smooth-anchor(href='#ico') #{navbar.ico}
      li
        a.smooth-anchor(href='#team') #{navbar.team}
      // TODO: add collapse UI
      li
        a.smooth-anchor(href='/') English
      li
        a.smooth-anchor(href='/zh') 中文
