ul.c-pagination
  li.c-pagination__item.c-pagination__item-prev
    a(href="") 
  li.c-pagination__item.is-on
    a(href="") 1
  li.c-pagination__item
    a(href="") 2
  li.c-pagination__item
    a(href="") 3
  li.c-pagination__item.c-pagination__item-next
    a(href="") 