// header
include includes/header

//
  NAVBAR
  ==================================================
body
  include includes/navbar

  //
    Cover
    ==================================================
  #cover.cover
    // TODO: "carousel-inner" のclassを除却
    .carousel-inner
      .item.active
        img(src='img/cover.jpg', alt='cover')
        .container
          .cover__caption
            p
              | 本当に価値のある情報との出会いを効率的に
            p
              | ブロックチェーン技術を活用した日本初の分散型メディアプラットフォーム
            p
              svg#cover-button.cover__caption__btn(xmlns="http://www.w3.org/2000/svg",
              xmlns:xlink="http://www.w3.org/1999/xlink", version="1.1", viewbox="0 0 512 512",
              enable-background="new 0 0 512 512")
                g
                  g
                    path(d="m354.2,247.4l-135.1-92.4c-4.2-3.1-15.4-3.1-16.3,8.6v184.8c1,11.7 12.4,11.9 16.3,8.6l135"
                    + ".1-92.4c3.5-2.1 8.3-10.7 0-17.2zm-130.5,81.3v-145.4l106.1,72.7-106.1,72.7z")
                    |
                    path(d="M256,11C120.9,11,11,120.9,11,256s109.9,245,245,245s245-109.9,245-245S391.1,11,256,11z M256"
                    + ",480.1    C132.4,480.1,31.9,379.6,31.9,256S132.4,31.9,256,31.9S480.1,132.4,480.1,256S379.6,480.1"
                    + ",256,480.1z")

  //  Service information
  .container.service-information
    .row
      .col-md-12#service-information
        img.service-information__logo(src='img/logo.png', alt='ALIS')
        h2.service-information__heading
          | What is ALIS Project
        .lead
          include:markdown-it ./contents/service-information.md
        p
          a.service-information__button.btn.btn-lg.btn-default(href='https://goo.gl/forms/rNbmA3BOOUhnLGos2',
          target='blank' role='button') ホワイトペーパーの情報を受け取る

  //
    Features
    ==================================================
  // Wrap the rest of the page in another container to center all the content.
  .container.features
    h2.features__heading
      | Features
    .row.features__row
      .col-lg-3.features__item
        img.img-rounded.features__circle-image(src='img/first_circle.png', alt='トークン')
        include:markdown-it ./contents/features__about-token.md
      .col-lg-3.features__item
        img.img-rounded.features__circle-image(src='img/second_circle.png', alt='プラットフォーム')
        include:markdown-it ./contents/features__about-platform.md
      .col-lg-3.features__item
        img.img-rounded.features__circle-image(src='img/third_circle.jpg', alt='ブロックチェーン技術')
        include:markdown-it ./contents/features__about-technology.md

  // About Japan
  .container.about-japan#about-japan
    h2.about-japan__heading
      | Why in Japan
    .row
      .col-md-7
        include:markdown-it ./contents/about-japan__media-quority.md
      .col-md-5
        img.about-japan-image.img-responsive.center-block(src='img/first_about-japan.png', alt='低品質なメディア')
    .row
      .col-md-7.col-md-push-5
        include:markdown-it ./contents/about-japan__technology.md
      .col-md-5.col-md-pull-7
        img.about-japan-image.img-responsive.center-block(src='img/second_about-japan.png', alt='技術後進国')
    .row
      .col-md-7
        include:markdown-it ./contents/about-japan__market.md
      .col-md-5
        img.about-japan-image.img-responsive.center-block(src='img/third_about-japan.png', alt='仮想通貨投資大国')

  //  ICO
  .container.ico#ico
    .row
      .col-md-12
        h2.ico__heading
          | ICO
        img.technology__logo(src='img/ico.png', alt='ICO')
        .lead
          include:markdown-it ./contents/ico.md
        p
          a.ico__button.btn.btn-lg.btn-default(href='https://goo.gl/forms/rNbmA3BOOUhnLGos2',
          target='blank' role='button') ICOの情報を受け取る

  //  Technology
  .container.technology
    .row
      .col-md-12
        h2.technology__heading
          | Technology
        img.technology__logo(src='img/third_circle.jpg', alt='technology')
        .lead
          include:markdown-it ./contents/technology.md

  // Team
  .container.team#team
    .row
      .col-md-12
        h2.team__heading
          | Team
      include mixin/team_member
      include mixin/team_member_sns
      .col-lg-4
        +team_member('安 昌浩', 'Founder')(src='img/yasu.png')
        .team__content
          include:markdown-it ./contents/member-profile-yasu.md
        +team_member_sns('masahiro.yasu.7', 'fiesta_red_fg')
      .col-lg-4
        +team_member('水澤 貴', 'Co-Founder / Marketing')(src='img/mizusawa.jpg')
        .team__content
          include:markdown-it ./contents/member-profile-mizusawa.md
        +team_member_sns('takashi.mizusawa', 'takashi_mizu')
      .col-lg-4
        +team_member('石井 壮太', 'Co-Founder / Engineering')(src='img/ishii.jpg')
        .team__content
          include:markdown-it ./contents/member-profile-ishii.md
        +team_member_sns('sota.ishii', 'sot528')

  // Footer
  include includes/footer

  // Video modal
  include mixin/video-mordal
