doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    // TODO: robots
    meta(name='robots', content='noindex,nofollow,noarchive')
    // TODO: <link rel="icon" href="../../favicon.ico">
    title ALIS
    // webpack
    script(src='js/home.js')
  //
    NAVBAR
    ==================================================
  body
    .navbar-wrapper
      .container
        nav.navbar.navbar-inverse.navbar-static-top
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#')
                // TODO: 正規のロゴが来たら差し替え
                img.navbar-brand__logo(src='img/logo_square.png', alt='ALIS')
            #navbar.navbar-collapse.collapse
              ul.nav.navbar-nav
                li.active
                  a(href='#') Home
                li
                  a(href='#about') About
                li
                  a(href='#contact') Contact
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | Dropdown
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider(role='separator')
                    li.dropdown-header Nav header
                    li
                      a(href='#') Separated link
                    li
                      a(href='#') One more separated link
    //
      Carousel
      ==================================================
    #myCarousel.carousel.slide(data-ride='carousel')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      .carousel-inner(role='listbox')
        .item.active
          img.first-slide(src='img/first_slide.jpg', alt='First slide')
          .container
            .carousel-caption
              // TODO: 正規のロゴが来たら差し替え
              img(src='img/logo.png', alt='logo')
              p ブロックチェーン活用した日本初の分散型メディアプラットフォーム
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') 詳細はこちら
        .item
          img.second-slide(src='img/second_slide.jpg', alt='Second slide')
          .container
            .carousel-caption
              h1 Make the world flat with blockchain technology.
              p ブロックチェーン技術があまねく世界を変えてゆく。私たちはその一翼を担います。
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') 詳細はこちら
        .item
          img.third-slide(src='img/third_slide.jpg', alt='Third slide')
          .container
            .carousel-caption
              h1 私たちのミッション
              p ブロックチェーンをベースとしたメディアで信頼性の高いコンテンツを提供。
              p クリエイターは広告にとらわれず好きなコンテンツを作成できます。
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') 詳細はこちら
      a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only Previous
      a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only Next

    //
      Marketing messaging and featurettes
      ==================================================
    // Wrap the rest of the page in another container to center all the content.
    .container.marketing
      // Three columns of text below the carousel
      .row
        .col-lg-4
          img.img-circle.marketing__circle-image(src='img/first_circle.png', alt='古いメディア')
          h2 旧態然のメディア
          p
            | 悪質なステマ。わずらわしい広告。真偽の不明なあやしい情報。現状のメディアは新しい時代において古すぎる。
            | 私たちはそう感じています。
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-lg-4
          img.img-circle.marketing__circle-image(src='img/second_circle.png', alt='古いメディア')
          h2 エンパワメント
          p
            | 質の高い情報へのアクセス。作りたいコンテンツを発信できる分権型のプラットフォーム。
            | 私たちはこのプロダクトで中央集権から個人へのパワーシフトを促進します。
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-lg-4
          img.img-circle.marketing__circle-image(src='img/third_circle.jpg', alt='古いメディア')
          h2 ヴィジョン
          p
            | 「信頼」とは何でしょうか？ どう扱われるべきものでしょうか？
            | 私たちはこの難問に真っ向から立ち向かい、ブロックチェーン技術を用いて「個人の信頼」の新しい時代を志向しています。
          p
            a.btn.btn-default(href='#', role='button') View details »

      // START THE FEATURETTES
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | 私たちが解決する課題
            span.text-muted
          p.lead
            | アフィリエイトの存在しないメディアは実現可能でしょうか？ 答えは"イエス"です。
            | 現在、WEB上には"不誠実なコンテンツ"がまかり通っています。悪質なステルスマーケティング。
            | 偽ニュース。日本では、広告収入を目当てに粗悪な医療情報を乱造して社会問題となったケースが記憶に新しいでしょう。
            | 「できるはずない」と思われるかもしれませんが、広告なしで市場規模数百億円のメディアを実現した。
            a(href='https://steemit.com') STEEM
            |         等、幸いにも私たちには数多くの先人がいます。
        .col-md-5
          img.featurette-image.img-responsive.center-block(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
      hr.featurette-divider
      .row.featurette
        .col-md-7.col-md-push-5
          h2.featurette-heading
            | 実現のためのアクション
            span.text-muted
          p.lead
            | 私たちのヴィジョンを実現するためのキーワードは"ブロックチェーン技術"です。
            | 現在、私たちは細部に至るまで考え抜き、一行一文言までロジックに裏打ちされた仕組み・要素・数値を設計中です。
            | そのすべては近日中にホワイトペーパーとして公開予定です。
            | 作成した設計に基づくDApp(分散アプリケーション)をEthereum等の適切な既存プラットフォーム上、あるいは
            | 独自に運用するブロックチェーン上に構築します。
            | そのコードは適切に設計され、高いテストカバレッジを維持し、CIや静的解析で高い品質を維持しつつすべてをオープンソースとして公開します。
        .col-md-5.col-md-pull-7
          img.featurette-image.img-responsive.center-block(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | その先のヴィジョン、新しい社会のために
            span.text-muted
          p.lead
            | 私たちは社会がこれから加速度的に進化し、変貌してゆくことを確信しています。
            | その怒涛のような近未来において、私たちはブロックチェーン技術と親和性の高い"個人の信用"というキーワードで、
            | 名誉ある貢献をしたいと考えています。
            | 私たちには未来についての確信と意思があり、プロジェクトへの覚悟があります。
        .col-md-5
          img.featurette-image.img-responsive.center-block(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
      hr.featurette-divider

      // FOOTER
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | © ALIS team. ·
          a(href='#') Privacy
          |  ·
          a(href='#') Terms
