doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    // TODO: robots
    meta(name='robots', content='noindex,nofollow,noarchive')
    // TODO: <link rel="icon" href="../../favicon.ico">
    title ALIS
    // webpack
    script(src='js/home.js')

  //
    NAVBAR
    ==================================================
  body
    .navbar-wrapper
      .container
        nav.navbar.navbar-inverse.navbar-static-top
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar',
              aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#')
                // TODO: 正規のロゴが来たら差し替え
                img.navbar-brand__logo(src='img/logo_square.png', alt='ALIS')
            #navbar.navbar-collapse.collapse
              ul.nav.navbar-nav
                li.active
                  a(href='#') Home
                li
                  a(href='#about') About
                li
                  a(href='#contact') Contact
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true',
                  aria-expanded='false')
                    | Dropdown
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider(role='separator')
                    li.dropdown-header Nav header
                    li
                      a(href='#') Separated link
                    li
                      a(href='#') One more separated link
    //
      Carousel
      ==================================================
    #myCarousel.carousel.slide(data-ride='carousel')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      .carousel-inner(role='listbox')
        .item.active
          img.first-slide(src='img/first_slide.jpg', alt='First slide')
          .container
            .carousel-caption
              // TODO: 正規のロゴが来たら差し替え
              img(src='img/logo.png', alt='ALIS')
              p ブロックチェーン活用した日本初の分散型メディアプラットフォーム
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') 詳細はこちら
        .item
          img.second-slide(src='img/second_slide.jpg', alt='Second slide')
          .container
            .carousel-caption
              h1 Make the world flat with blockchain technology.
              p ブロックチェーン技術があまねく世界を変えてゆく。私たちはその一翼を担います。
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') 詳細はこちら
        .item
          img.third-slide(src='img/third_slide.jpg', alt='Third slide')
          .container
            .carousel-caption
              h1 私たちのミッション
              p ブロックチェーンをベースとしたメディアで信頼性の高いコンテンツを提供。
              p クリエイターは広告にとらわれず好きなコンテンツを作成できます。
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') 詳細はこちら
      a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only Previous
      a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only Next

    //  Service information
    .container.service-information
      .row
        .col-md-12
          h2.service-information__heading
            | ALISとはなにか？
          img.service-information__logo(src='img/logo.png', alt='ALIS')
          p.lead
            | ALISは信頼性の高い情報・人に効率的に出会え、誰もが報酬を得ることができる非中央集権型ソーシャルメディアプラットフォームです。ブロックチェーン技術とALISトークンを利用することにより、誰にも管理されないP2Pによるプラットフォームを実現し、価値のある情報・人が評価され経済的に持続する世界を実現します。従来の中央集権によるメディアにありがちなペイドメディアの無価値な情報、ステルスマーケティング、および信用できるかどうかわからない情報を消費させられることに嫌気をさす日々からALISは人々を解放します。プラットフォームが発展するにつれ、このプラットフォームそのものが人の信頼を表したものとなり、様々な経済活動を行うプラットフォームへと進化します。
          p
            a.service-information__button.btn.btn-lg.btn-default(href='#', role='button') 詳細はこちら
    hr.service-information__divider

    //
      Features
      ==================================================
    // Wrap the rest of the page in another container to center all the content.
    .container.features
      // Three columns of text below the carousel
      .row
        .col-lg-4
          img.img-circle.features__circle-image(src='img/first_circle.png', alt='古いメディア')
          h2 ALISトークンによる良質な情報の評価
          p
            | 多くの人々が価値があると認めるコンテンツを作成もしくは評価した人に対して、より多くののALISトークンを配布することによりそのモチベーションを最大化します。ALISトークンはEthereumやSTEEM同様、それ自体が売買される価値を持ちます。
        .col-lg-4
          img.img-circle.features__circle-image(src='img/second_circle.png', alt='古いメディア')
          h2 プラットフォーム自体の価値をメンバーに還元
          p
            | ALISプラットフォームが信頼性の高いものであると人々が評価すればするほどALISトークンの価値が向上し、その価値がそのままプラットフォームを運用する人々に還元されます。その力学がさらなる信頼性の高いコンテンツ・人を生み出し、第三者の金銭の介入を必要とすることなく発展することが可能です。この仕組みはすでにsteem.ioが実装しており、実現可能な仕組みです。
        .col-lg-4
          img.img-circle.features__circle-image(src='img/third_circle.jpg', alt='古いメディア')
          h2 ブロックチェーン技術による高信頼・低コストの実現
          p
            | 従来のソーシャルメディアと異なり、ブロックチェーン技術を根幹に用いることでデータの改ざんが難しい高信頼を保ちながらも低コストでの運用を実現します。この技術がP2Pによるプラットフォーム運用および価値還元量の最大化に貢献します。

      // About Japan
      hr.about-japan-divider
      .row.about-japan
        .col-md-7
          h2.about-japan-heading
            | 低品質のメディア量産が問題になっている日本
            span.text-muted
          p.lead
            | 今日日本においては低品質・低信頼性のメディアが量産されることが問題になっています（必ずしも日本だけではないかもしれませんが。）クラウドソーシングを主に使用し簡単なコンテンツを大量生産してpvを稼ぐことが目的になっているからであると私たちは考えます。今までのメディアは結局マネタイズ手段の大半が企業の広告代として稼ぎを得ることであったがためにこのような事態になっていると考えるため、日本において真に非中央集権型のプラットフォームを運用し、第三者の介入なく価値が増大していくメディアを開発することが必要であると私たちは信じています。
            //a(href='https://steemit.com') STEEM
        .col-md-5
          img.about-japan-image.img-responsive.center-block(src='img/first_about-japan.png', alt='機能説明イメージ')
      hr.about-japan-divider
      .row.about-japan
        .col-md-7.col-md-push-5
          h2.about-japan-heading
            | 技術後進国日本
            span.text-muted
          p.lead
            | 日本は過去の栄光を失いつつあり、ソフトウェア産業ではかなりの技術後進国となっております。現状ブロックチェーン技術や仮想通貨の話を日本国内で行なっているプレイヤーはほとんどおらず、私たちは日本のみがまた取り残されてしまう危機感を抱いております。ブロックチェーン技術が巻き起こす革命的な社会構造や世界が訪れることは必然であると我々は考えており、そのスピードを日本においても早めることを使命としてかかげています。
        .col-md-5.col-md-pull-7
          img.about-japan-image.img-responsive.center-block(src='img/second_about-japan.png', alt='機能説明イメージ')
      hr.about-japan-divider
      .row.about-japan
        .col-md-7
          h2.about-japan-heading
            | 仮想通貨投資大国
            span.text-muted
          p.lead
            | 技術的には後進国でありながらも、実は日本はもっとも仮想通貨に投資している国の一つです（世界第●位）。最近のビットコインの急騰により人々の関心はますます高まっており、まさに日本においても実用的な仮想通貨の登場が待たれていると感じております。また日本はGDP世界3位の経済大国であり、今の時流に乗ることで我々の実現したいプラットフォームを実現できると強く信じています。
        .col-md-5
          img.about-japan-image.img-responsive.center-block(src='img/third_about-japan.png', alt='機能説明イメージ')
      hr.about-japan-divider

    //  ICO
    .container.ico
      .row
        .col-md-12
          h2.ico__heading
            | ICO情報
          img.ico__logo(src='img/logo.png', alt='ALIS')
          p.lead
            | 私たちはヴィジョンの実現のため、2017/08末にICO(Initial Public Offering)を実施予定です。
            | プロジェクト最新情報の通知をご希望の方はどうぞご登録ください。
          p
            a.ico__button.btn.btn-lg.btn-danger(href='#', role='button') 詳細はこちら
    hr.ico__divider

    //  Technology
    .container.technology
      .row
        .col-md-12
          h2.technology__heading
            | 技術
          img.technology__logo(src='img/third_circle.jpg', alt='ALIS')
          p.lead
            | 現在、私たちは細部に至るまで考え抜き、一行一文言までロジックに裏打ちされた仕組み・要素・数値を設計中です。 そのすべては近日中にホワイトペーパーとして公開予定です。 作成した設計に基づくDApp(分散アプリケーション)をEthereum等の適切な既存プラットフォーム上、あるいは 独自に運用するブロックチェーン上に構築します。 そのコードは適切に設計され、高いテストカバレッジを維持し、CIや静的解析で高い品質を維持しつつすべてをオープンソースとして公開します。
          p
            a.technology__button.btn.btn-lg.btn-danger(href='#', role='button') 詳細はこちら
    hr.technology__divider

    // Team
    .container.team
      .row
        .col-md-12
          h2.team__heading
            | Team
        include mixin/team_member
        include mixin/team_member_sns
        .col-lg-4
          +team_member('安 昌浩', 'Founder')(src='img/yasu.png')
          .team__content
            include:markdown-it ./contents/member-profile-yasu.md
          +team_member_sns('masahiro.yasu.7', 'fiesta_red_fg')
        .col-lg-4
          +team_member('水澤 貴', 'Co-Founder / Communications')(src='img/mizusawa.jpg')
          .team__content
            include:markdown-it ./contents/member-profile-mizusawa.md
          +team_member_sns('takashi.mizusawa', 'takashi_mizu')
        .col-lg-4
          +team_member('石井 壮太', 'Co-Founder / Engineering')(src='img/ishii.jpg')
          .team__content
            include:markdown-it ./contents/member-profile-ishii.md
          +team_member_sns('sota.ishii', 'sot528')

    // Footer
    .container
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | © ALIS team. ·
          a(href='#') Privacy
          |  ·
          a(href='#') Terms
