include includes/header

// Navbar
body
  include includes/navbar_without_links

  .container.privacy-container
    include:markdown-it ./contents/privacypolicy.md

  // Footer
  include includes/footer
