.l-overlay {
  width: 100%;
  
  background-color: $color-background-overlay;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale3d(0,0,0);
  transition: all .3s ease;

  &.is-on {
    height: 100vh;
    transform: scale3d(1,1,1);
    overflow: hidden;
    position: fixed;
    display: flex;
    z-index: 2000;
  }

  @include mq() {
    padding: 20px;
  }
}

.l-header {
  @include transition;
	&.is-on {
    @include box-shadow(false);
  }
}

.l-main {
	@include make-main-container;
	@include mq() {
		padding: 0;
	}
}

.p-page .l-main{
  @include make-main-container;
}

/* Footer
-------------------------------------------------- */
$sns-items: "twitter", "medium", "discord", "reddit", "trello", "github";

.l-footer {
  color: white;
  text-align: center;
  background-color: $color-background-dark;
  width: 100%;
  padding: 80px 0px;

  @include mq() {
    height: auto;
    padding: 32px 16px 40px;
  }

  &__items {
    margin-bottom: 20px;
  }

  &__item {
    width: 60px;
    height: 60px;
    margin: 0px;
    padding: 0;
    display: inline-block;
    
    > img {
      @include transition;
      max-width: 100%;
      height: auto;
      &:hover {
        opacity: 0;
      }
    }

    @include mq() {
      width: 44px;
      height: 44px;
      margin: 6px;
      &:first-child {
        margin-left:0; 
      }
      &:last-child {
        margin-right: 0;
      }
    }

    @include mq(xs) {
      margin: 0;
    }
  }

  @each $sns in $sns-items {
    &__item--#{$sns} {
      @extend .l-footer__item;
      background-size: contain;
      background-image: url("/img/pc/icon_footer_hover_#{$sns}.png");
    }
  }

  &__company {
    margin-bottom: 0;
    font-size: 1.4rem;
    line-height: 2;

    @include mq() {
      text-align: left;
      line-height: 1.5;
    }
  }

  &__address {
    margin-bottom: 0;
    @include mq() {
      text-align: left;
    }

    a {
      color: white;
      font-size: 1.4rem;
      line-height: 2;
      @include transition;
      &:hover, &:focus, &:active {
        text-decoration: none;
      }
      @include mq() {
        text-align: left;
        line-height: 1.5;
      }
    }
  }
}