/* Navbar
-------------------------------------------------- */
.l-header.navbar {
  height: $navbar-height;
  padding-top: 14px;
  background-color: white;
  margin-bottom: 0;
  border: 0;
  padding-right: 0;
  padding-left: 0;

  @include mq() {
    height: $navbar-height-sp;
  }

  .container {
    width: auto;
    @include make-main-container;

    .navbar-collapse {
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  }

  .navbar-header {
    @include mq(lg) {
      width: 100%;
    }
    @include mq() {
      width: auto;
    }
  }

  .c-select.u-md-only {
      position: absolute;
      right: 88px;
      top: 21px;
      @include mq(lg) {
        top: 34px;
      }
      @include mq() {
        top: 21px;
        right: 44px;
      }
  }

  .nav {
    @include font-title;
    float: right;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin-top: 1.6rem;
    line-height: 1.125;

    > li {
      padding-right: 23px;
      &:last-child {
        padding-right: 0;
      }

      > a {
        @include transition;
        display: inline;
        color: $color-text-primary;
        border-bottom: solid 2px transparent;
        padding: 0 0 20px;
        
        @include mq-min(lg) {
          &:hover, &:active, &:focus {
            color: $color-purple-light;
            border-bottom: solid 2px $color-purple-light;
          }          
        }
      }
    }

    .dropdown-menu {
      a {
        color: $color-text-primary;
        @include transition;

        &:hover {
          color: $color-text-primary;
        }
      }
    }

    &__language {
      margin-top: -5px;
      color: gray;
      font-weight: bold;
    }
  }
}

.navbar-brand {
  &__logo {
    width: 102px;
    margin-top: -8px;
    @include mq() {
      width: 87px;
      margin-top: -14px;
    }
  }
}

.p-nav-trigger {
  width: 24px;
  height: 24px;
  background-image: url("/img/sp/icon_menu.png");
  background-size: cover;
  margin-right: 0;
  margin-top: 16px;

  @include mq(lg) {
    display: block;
    margin-right: 0px;
    margin-top: 18px;
  }
  @include mq() {
    margin-right: 15px;
    margin-top: 5px;
  }
}

.l-header.navbar .nav__language {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  box-shadow: none;

  option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;  
    height: 40px;
    background: #242424;
    color: #fff;
    text-shadow: none; 
  }
}


#navbar.navbar-collapse.collapse {
  .navbar__header {
    display: none;
  }

  @include mq(lg) {
    @include box-shadow;
    display: block !important;
    width: 429px;
    background-color: white;
    height: 100vh;
    max-height: 100vh;
    min-height: 120vh;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .4s ease;
    padding: 34px 56px;
    color: #000;

    @include mq(sm) {
      width: 273px;
    }

    .form-control.nav__language {
      display: none;
    }

    .navbar__header {
      @include font-title;
      display: block;
      font-size: 2.8rem;
      letter-spacing: 4px;
      line-height: 1;
      color: #030303;
      margin-bottom: 50px;

      &::after {
        display: block;
        content: "";
        height: 2px;
        width: 27px;
        margin-top: 14px;
        background-color: $color-text-secondary;
      }
    }

    &.is-on {
      transform: translateX(0);
      transition: all .4s ease;
    }
  }
}

#navbar .nav.navbar-nav {
  @include mq(lg) {
    float: left!important;
    margin: 0;

    li {
      margin-bottom: 20px;
      clear: both;
    }
  }
}


.navbar-inverse .navbar-toggle {
  border: 0;
  &:hover, &:active, &:focus {
    background-color: transparent;
  }
}