.p-vision {
	&__statement {
		font-size: 3.6rem;
		line-height: 1.55;
		text-align: center;
		@include mq() {
			font-size: 1.4rem;
			font-weight: bold;
			letter-spacing: 4px;
			line-height: 1.5;
			margin-bottom: 60px;
			margin-top: 10px;
  	}
	}
}

.p-mission, .p-value {
	@include mq() {
		margin-bottom: 40px;
	}
	&__body {
		font-size: 2rem;
		line-height: 2;
		text-align: center;
		letter-spacing: 5px;
		max-width: 360px;
		margin: 0 auto;
		word-break: break-all;
		@include mq(lg) {
			width: 100%;
			text-align: left;
			margin-bottom: 40px;
			max-width: 100%;
		}
		@include mq() {
			font-size: 1.4rem;
			letter-spacing: 4px;
			line-height: 1.5;
		}
	}
}

.p-value {

	margin-bottom: 120px;

	.row {
		margin-bottom: 120px;
		@include mq(lg) {
			margin-bottom: 0px;
		}
	}

	.col-md-4 {
		@include mq() {
			margin-bottom: 40px;
		}
	}

	&__item-header {
		max-width: 360px;
		margin-top: 0;
		margin-bottom: 30px;
		height: 20px;
		text-indent: 100%; 
		white-space: nowrap; 
		overflow: hidden;
		 
		@include mq() {
			height: 11px;
			width: auto;
			margin: 0;
			margin-bottom: 16px;
		}
	}

	&__body {
		margin: 0;
	}

	// Value 1~3番目
	.row:nth-of-type(1) {
		@for $i from 1 through 3 {
			.col-md-4:nth-of-type(#{$i}) .p-value__item-header {
				background: url("/img/pc/value_#{$i}.png") no-repeat;
				background-size: contain;
				@include mq() {
					background: url("/img/sp/value_#{$i}.png") no-repeat;
					background-size: contain;
				}
			}
		}		
	}

	// Value 4~6番目
	.row:nth-of-type(2) {
		@for $i from 1 through 3 {
			.col-md-4:nth-of-type(#{$i}) .p-value__item-header {
				background: url("/img/pc/value_#{$i+3}.png") no-repeat;
				background-size: contain;
				@include mq() {
					background: url("/img/sp/value_#{$i+3}.png") no-repeat;
					background-size: contain;
				}
			}
		}		
	}

	&__body {
		text-align: left;
	}
}

