.p-vision {
	&__statement {
		font-size: 2.8rem;
		line-height: 1.55;
		text-align: center;
		@include mq() {
			font-size: 1.4rem;
			font-weight: bold;
			letter-spacing: 4px;
			line-height: 1.5;
			margin-bottom: 60px;
			margin-top: 10px;
  	}
	}
}

.p-mission, .p-value {
	@include mq() {
		margin-bottom: 40px;
	}

	&__body {
		font-size: 1.6rem;
		line-height: 2;
		letter-spacing: 2px;
		max-width: 320px;
		margin: 0 auto;
		@include mq(lg) {
			width: 100%;
			text-align: left;
			margin-bottom: 40px;
			max-width: 100%;
		}
		@include mq() {
			font-size: 1.4rem;
			line-height: 1.5;
		}
	}
}

.is-ja {
	.p-mission__body, .p-valu__body {
		letter-spacing: 4px;
	}
}

.p-value {

	margin-bottom: 120px;
	@include mq(sm) {
		margin-bottom: 0;
	}

	.row {
		margin-bottom: 120px;
		@include mq(lg) {
			margin-bottom: 0px;
		}
	}

	.col-md-4 {
		@include mq(lg) {
			margin-bottom: 36px;
		}
	}

	&__item-header {
		max-width: 320px;
		margin: 0 auto;
		margin-bottom: 20px;
		font-size: 1.6rem;
		line-height: 1.5;
		letter-spacing: 2px;
		white-space: nowrap; 
		overflow: hidden;
		background: linear-gradient(90deg, $color-text-gradation-start, $color-text-gradation-end);
		background-clip: text;
		text-fill-color: transparent;		
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		@include mq(lg) {
			max-width: 100%;
		}

		@include mq() {
			width: auto;
			margin: 0;
			margin-bottom: 11px;
		}
	}

	&__body {
		margin: 0 auto;
		max-width: 320px;
		font-size: 1.4rem;
		line-height: 2;
		letter-spacing: 2px;
		text-align: left;
		@include mq(lg) {
			max-width: 100%;
		}
		@include mq() {
			letter-spacing: 2px;
			line-height: 1.5;		
		}
	}
}