.p-vision {
	&__statement {
		font-size: 3.6rem;
		line-height: 1.55;
		text-align: center;
		@include mq() {
			font-size: 1.4rem;
			font-weight: bold;
			letter-spacing: 4px;
			line-height: 1.5;
			margin-bottom: 60px;
			margin-top: 10px;
  	}
	}
}

.p-mission, .p-value {
	@include mq() {
		margin-bottom: 40px;
	}
	&__body {
		font-size: 2rem;
		line-height: 2;
		text-align: center;
		letter-spacing: 5px;
		max-width: 360px;
		margin: 0 auto;
		word-break: break-all;
		@include mq() {
			width: 100%;
			font-size: 1.4rem;
			letter-spacing: 4px;
			line-height: 1.5;
			text-align: left;
			margin-bottom: 40px;
			max-width: 100%;
		}
	}
}

.p-value {

	&__img-wrapper {
		max-width: 360px;
		margin: 0 auto;
		margin-bottom: 30px;
		@include mq() {
			text-align: left;
			width: 194px;
			margin: 0;
			margin-bottom: 16px;
		}		
	}

	&__img {
		display: inline-block;
		max-width: 100%;
		height: auto;
	}

	&__body {
		text-align: left;	
	}
}