$communities: "twitter", "medium", "discord", "reddit", "github";

.p-page-community .p-block {
	@include mq() {
		margin-bottom: 60px;
	}
}

.p-community-cards {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: 1260px) {
		width: 720px;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	@include mq(lg) {
		width: 100%;
	}
	@include mq() {
		flex-direction: column;
	}
}

.p-community-card {
	@include box-shadow;
	@include transition;
	display: block;
	background-color: white;
	padding: 35px;
	text-align: center;
	width: 196px;

	&:hover {
		text-decoration: none;
		cursor: pointer;
	}

	&:focus, &:active {
		text-decoration: none;
	}

	@media screen and (max-width: 1260px) {
		margin-bottom: 5%;
	}

	@include mq() {
		padding: 24px;
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}

	&::before {
		content: "";
		display: inline-block;
		width: 60px;
		max-width: 60px;
		height: 60px;
		@media screen and (max-width: 1260px) {
			width: 48px;
			height: 48px;
		}
		@include mq() {
			max-width: 48px;
			min-width: 48px;
			margin: 0 40px;
		}
		@include mq(sm) {
			margin: 0 20px;
		}
	}

	@each $community in $communities {
		&--#{$community}::before {
			background: url("/img/pc/icon_community_#{$community}.png") center center no-repeat;
			background-size: contain;
		}
		@include mq() {
			@if $community == 'twitter' or  $community == 'medium' {
				br:nth-child(2) {
					display: none;
				}
			}@else if $community == 'github' {
				&--#{$community}::before {
					width: 38px;
				}
				br:nth-child(2) {
					display: none;
				}		 
			}@else if $community == 'discord' {
				br:nth-child(1) {
					display: none;
				}				
			}@else if $community == 'reddit' {
				br {
					display: none;
				}
			}
		}

	}

	&__sns {
		@include font-title;
		font-size: 1.8rem;
		letter-spacing: 1px;
		line-height: 2.1;

		@include mq() {
			text-align: left;
			font-size: 1.6rem;
			line-height: 1.5;
			padding-left: 20px;
			margin: 0 0 12px;
		}
	}

	&__body {
		font-size: 1.4rem;
		letter-spacing: 1px;
		line-height: 1.57;
		@include mq() {
			text-align: left;
			font-size: 1.4rem;
			line-height: 1.7;
			padding-left: 20px;
			margin: 0;
		}
	}
}
