
.p-index .p-section {
  padding-right: $inner-index-padding-x;
  padding-left: $inner-index-padding-x;
  @include mq(lg) {
    padding-right: $inner-padding-x-sp;
    padding-left: $inner-padding-x-sp;
  }
}

.p-index {
  padding-bottom: 180px;
  @include mq() {
    padding-bottom: 80px;
  }
}

.p-index .p-section {
  @include mq() {
    padding-top: 60px;
  }
}


/* Cover
-------------------------------------------------- */
.p-cover {
  margin-top: $navbar-height;
  height: calc(100vh - #{$navbar-height});
  background-image: url("/img/pc/img_top.jpg");
  background-size: cover;
  background-position: bottom center;
  box-sizing: border-box;
  position: relative;

  @include mq(sm) {
    margin-top: $navbar-height-sp;
    height: calc(100vh - #{$navbar-height-sp} - 100px);
    margin-bottom: 100px;
    background-image: url("/img/sp/top_firstview.jpg");
  }

  &__title {
    background: white;
    padding-bottom: 3.3rem;
    padding-right: $inner-index-padding-x;
    padding-left: $inner-index-padding-x;
    @include mq(lg) {
      padding-right: 0;
      padding-left: 0;
    }
    @include mq() {
      padding: 2rem $inner-padding-x-sp;
    }
  }

  &__header {
    @include font-title;
    font-size: 2.4rem;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 18px;
    @include mq(sm) {
      font-size: 1.6rem;
      line-height: 1.5;
      margin-bottom: 1.2rem;
    }
  }

  &__caption {
    color: $color-text-primary;
    line-height: 2;
    letter-spacing: 2px;
    font-size: 2.8rem;

    @include mq(sm) {
      font-size: 2rem;
      line-height: 1.5;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("/img/pc/top_sp.png");
    background-size: cover;
    width: 313px;
    height: 622px;
    top: 1412px;
    transform: translateX(881px);

    @include mq (lg) {
      display: none;
    }
  }

  &.is-fixed::after {
    position: fixed;
    top: 180px;
  }
}

/* Register CTA
-------------------------------------------------- */

.p-cta {
  margin: 87px $inner-index-padding-x;
  max-width: 404px;
  box-sizing: border-box;
  position: relative;
  @include mq(lg) {
    background: white;
    width: $inner-width-sp;
    margin: 0 auto;
    padding: 30px 16px;
    position: absolute;
    bottom: 0;
    left: $inner-padding-x-sp;
    max-width: $inner-width-sp;
    text-align: center;
  }
  @include mq() {
     bottom: -60px;
  }

  &__header {
    @include font-title;
    font-size: 2.4rem;
    line-height: 1.125;
    letter-spacing: 1px;
    margin-bottom: 20px;

    @include mq(lg) {
      margin-top: -50px;
      text-align: center;
    }
    @include mq() {
      font-size: 2rem;
      line-height: 1.75;
    }
  }

  &__body {
    text-align: justify;
    font-size: 1.6rem;
    display: inline-block;
    line-height: 1.75;
    letter-spacing: 3px;
    margin-bottom: 2em;
    @include mq(lg) {
      text-align: center;
      br {
        display: none;
      }
    }
    @include mq() {
      font-size: 1.2rem;
      line-height: 1.66;
    }
  }

  &__body__caption {
    letter-spacing: 0;
  }

  &__button {
    @include button(240px);
    @include mq(sm) {
      @include button(208px);
    }
  }
}


/* Feature List
-------------------------------------------------- */
.is-ja .p-feature-list {
  max-width: 480px;
}
.p-feature-list {
  padding: 0;
  max-width: 560px;
  margin: 0 auto;

  @include mq(sm) {
    width: 100%;
    margin: 40px auto;
  }

  &__item {
    list-style: none;
    width: 100%;
    position: relative;
    margin-bottom: 65px;

    @include mq(sm) {
      width: 100%;
      display: flex;
      height: 80px;
      margin-bottom: 60px;
      padding-top: 1em;
    }
  }

  &__item::before {
    display: inline-block;
    content: "";
    vertical-align: middle;
    margin-right: 80px;

    @include mq() {
      margin-right: 20px;
    }
    @include mq(sm) {
      margin-right: 0px;
    }
  }

  @for $i from 1 through 3 {
    &__item:nth-child(#{$i})::before {
      background: url("/img/pc/icon_ourproject#{$i}.png") no-repeat;
      width: 105px;
      height: 75px;
      background-size: contain;
      background-position: center;
    }
  }

  @include mq() {
    @for $i from 1 through 3 {
      &__item:nth-child(#{$i})::before {
        background: url("/img/sp/icon_ourproject#{$i}.png") no-repeat;
        width: 112px;
        height: 80px;
        min-width: 112px;
        background-size: contain;
        background-position: center;
      }
    }
  }

  &__item-body {
    font-size: 1.6rem;
    line-height: 2;
    letter-spacing: 4px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    
    @include mq() {
      font-size: 1.6rem;
      line-height: 1.5;
    }
    @include mq(sm) {
      text-align: left;
      padding-left: 4rem;
    }
  }
}


/* PRODUCT
-------------------------------------------------- */

.p-product {
  text-align: center;
  position: relative;

  &__img {
    width: 800px;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    @include mq() {
      width: 100%;
      margin-bottom: 24px;
    }
  }

  &__btns {
    width: 800px;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    @include mq() {
      width: 100%;
    }
  }

  &__button {
    @include button(264px);
    margin: 0 20px;
    @include mq(lg) {
      margin: 0 8px;
    }
    @include mq(sm) {
      margin: 0;
      &:first-child {
        margin: 0 0 16px 0;
      }
    }
  }

  &__link{
    display: inline-block;
    margin: 40px 0;
    text-decoration: underline;
    @include mq() {
      margin:24px 0; 
    }
  }
}

/* Exchange
-------------------------------------------------- */

.p-exchange {
  text-align: center;
  @include mq() {
    text-align: left;
  }
  &__img {
    height: 54px;
    width: auto;
    margin: 10px 30px;
    @include mq(lg) {
      margin: 28px 30px
    }
    @include mq() {
      display: none;
    }
  }
  &__img--sp {
    display: none;
    @include mq() {
      display: inline-block;
      height: 40px;
      margin-bottom: 24px;
      margin-right: 2.4rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}


/* Media Logos
-------------------------------------------------- */

.p-media-logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;

  a {
    display: block;
  }

  @include mq() {
    margin-bottom: 0;
    justify-content: flex-start;
  }

  img {
    height: 64px;
    width: auto;
    @include mq() {
      margin-right: 24px;
      height: 40px;
      margin-bottom: 24px;
    }
  }
}

