/* Cover
-------------------------------------------------- */
.p-cover {
  position: relative;
  margin-top: $navbar-height;
  height: calc(100vh - #{$navbar-height});
  background-image: url("/img/pc/img_top.jpg");
  background-size: cover;
  background-position: bottom center;
  box-sizing: border-box;
  position: relative;

  @include mq() {
    margin-top: $navbar-height-sp;
    height: calc(100vh - #{$navbar-height-sp} - 100px);
    margin-bottom: 100px;
    background-image: url("/img/sp/top_firstview.jpg");
  }

  &__title {
     background: white;
     padding-bottom: 6.5rem;
     @include mq() {
      padding: 2rem $inner-padding-x-sp;
     }
  }

  &__header {
    font-size: 2.4rem;
    letter-spacing: 1.5px;
    line-height: 1.55;
    margin-top: 0;
     @include mq(lg) {
      font-size: 1.6rem;
      line-height: 1.5;
      margin-bottom: 1.2rem;
     }
  }

  &__caption {
    color: $color-text-primary;
    line-height: 1.55;
    letter-spacing: 1.5px;
    font-size: 3.6rem;
    @include mq(lg) {
      font-size: 2rem;
      line-height: 1.5;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("/img/pc/top_sp.png");
    background-size: cover;
    width: 313px;
    height: 622px;
    top: 93px;
    right: 40px;

    @include mq (lg) {
      display: none;
    }
  }
}

/* Register CTA
-------------------------------------------------- */

.p-cta {
  margin: 80px;
  max-width: 404px;
  box-sizing: border-box;
  @include mq() {
    background: white;
    width: $inner-width-sp;
    margin: 0 auto;
    padding: 30px 16px;
    position: absolute;
    bottom: -60px;
    left: $inner-padding-x-sp;
    max-width: $inner-width-sp;
    text-align: center;
  }

  &__header {
    font-size: 2.4rem;
    line-height: 1.5;
    letter-spacing: 1.5px;
    margin-bottom: 0.5em;
    @include mq() {
      font-size: 2rem;
      line-height: 1.75;
      margin-top: -5rem;
      text-align: center;
    }
  }

  &__body {
    font-size: 1.6rem;
    display: inline-block;
    line-height: 1.75;
    letter-spacing: 3.5px;
    margin-bottom: 2em;
    @include mq() {
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.66;
      br {
        display: none;
      }
    }
  }

  &__button {
    @include button(240px);
    @include mq() {
      @include button(208px);
    }
  }
}

/* Feature List
-------------------------------------------------- */

.p-feature-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  // width: calc(100% - 200px);
  margin: 20px auto 120px;
  @include mq() {
    width: 100%;
    flex-direction: column;
    margin: 40px auto;
  }

  &__item {
    list-style: none;
    text-align: center;
    width: 33%;
    position: relative;

    @include mq() {
      width: 100%;
      display: flex;
      height: 124px;
      align-items: center;
      margin-bottom: 60px;
    }
  }

  &__item::before {
    display: inline-block;
    content: "";
    margin-bottom: 80px;
    @include mq() {
      margin-bottom: 0;
    }
  }

  $width: 210px, 435px, 282px;
  @each $w in $width {
    $i: index($width, $w);
    &__item:nth-child(#{$i})::before {
      background: url("/img/pc/icon_ourproject#{$i}.png") no-repeat;
      width: $w;
      height: 213px;
      background-size: contain;
      background-position: center;
    }
  }
  @include mq() {
    @for $i from 1 through 3 {
      &__item:nth-child(#{$i})::before {
        background: url("/img/sp/icon_ourproject#{$i}.png") no-repeat;
        width: 124px;
        height: 124px;
        min-width: 124px;
        background-size: contain;
        background-position: center;
      }
    }
  }

  &__item-body {
    font-size: 2.8rem;
    line-height: 1.8;
    letter-spacing: 2px;
    @include mq() {
      font-size: 1.6rem;
      line-height: 1.5;
      text-align: left;
      padding-left: 4rem;
    }
  }
}


/* PRODUCT
-------------------------------------------------- */

.p-product {
  text-align: center;
  position: relative;

  &__img {
    width: 800px;
    height: auto;
    margin: 0 auto;
    @include mq() {
      width: 100%;
      margin-bottom: 24px;
    }
  }

  &__btns {
    width: 800px;
    height: auto;
    margin: 0 auto;
    @include mq() {
      width: 100%;
    }
  }

  &__button {
    @include button(264px);
    margin: 0 20px;
    @include mq() {
      margin: 0;
      &:first-child {
        margin: 0 0 16px 0;
      }
    }
  }

  &__link{
    display: inline-block;
    margin: 40px 0;
    text-decoration: underline;
    @include mq() {
      margin:24px 0; 
    }
  }
}

/* Exchange
-------------------------------------------------- */

.p-exchange {
  text-align: center;
  @include mq() {
    text-align: left;
  }
  &__img {
    height: 54px;
    width: auto;
    margin: 0 30px;
    @include mq() {
      display: none;
    }
  }
  &__img--sp {
    display: none;
    @include mq() {
      display: inline-block;
      height: 40px;
      margin-bottom: 24px;
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}


/* Media Logos
-------------------------------------------------- */

.p-media-logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;

  a {
    display: block;
  }

  @include mq() {
    margin-bottom: 0;
    justify-content: flex-start;
  }

  img {
    height: 64px;
    width: auto;
    @include mq() {
      margin-right: 24px;
      height: 40px;
      margin-bottom: 24px;
    }
  }
}

