/* Cover
-------------------------------------------------- */
.p-cover {
  position: relative;
  margin-top: $navbar-height;
  height: calc(100vh - #{$navbar-height});
  background-image: url("/img/pc/img_top.jpg");
  background-size: cover;
  background-position: bottom center;

  &__title {
     background: white;
     padding-bottom: 6.5rem;
  }

  &__header {
    font-size: 2.4rem;
    letter-spacing: 1.5px;
    line-height: 1.55;
  }

  &__caption {
    color: $color-text-primary;
    line-height: 1.55;
    letter-spacing: 1.5px;
    font-size: 3.6rem;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("/img/pc/top_sp.png");
    background-size: cover;
    width: 313px;
    height: 622px;
    top: 93px;
    right: 40px;
  }
}

/* Register CTA
-------------------------------------------------- */

.p-cta {
  margin: 80px;
  max-width: 404px;

  &__header {
    font-size: 2.4rem;
    line-height: 1.5;
    letter-spacing: 1.5px;
    margin-bottom: 0.5em;
  }

  &__body {
    font-size: 1.6rem;
    display: inline-block;
    line-height: 1.75;
    letter-spacing: 3.5px;
    margin-bottom: 2em;
  }

  &__button {
    @include button(240px);
  }
}

/* Feature List
-------------------------------------------------- */

.p-feature-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 200px);
  margin: 20px auto 80px;

  &__item {
    list-style: none;
    text-align: center;
    width: 33%;
    &:nth-child(1) img {
      width: 210px;
    }
    &:nth-child(2) img {
      width: 435px;
    }
    &:nth-child(3) img {
      width: 282px;
    }
  }

  &__item-img {
    margin-bottom: 80px;
  }

  &__item-body {
    font-size: 2.8rem;
    line-height: 1.8;
    letter-spacing: 2px;
  }
}


/* PRODUCT
-------------------------------------------------- */

.p-product {
  text-align: center;

  &__img {
    width: 800px;
    height: auto;
    margin: 0 auto;
  }

  &__btns {
    width: 800px;
    height: auto;
    margin: 0 auto;   
  }

  &__button {
    @include button(264px);
    margin: 0 20px;
  }

  &__link{
    display: inline-block;
    margin: 4rem 0;
    text-decoration: underline;
  }
}

/* Exchange
-------------------------------------------------- */

.p-exchange {
  text-align: center;
  &__img {
    height: 54px;
    width: auto;
    margin: 0 30px;
  }
}


/* Media Logos
-------------------------------------------------- */

.media-logos {
  .col-md-12 {
    margin-bottom: 30px;
    text-align: center;
  }

  img {
    width: 150px;
    margin: 20px;
  }
}

