.p-news-cards {
	div.col-lg-4:not([data-hasurl]) {
		display: none;
	}
}

.p-news-card {
	@include box-shadow;
	@include transition;
	padding: 40px 42px;
	background-color: white;
	margin-bottom: 4rem;
	display: block;

	$category-color: (
	  'UPDATE': $color-green,
	  'MEDIA': $color-blue,
	  'PRESS RELEASE': $color-orange,
	);

	$font-size-base: 14px;
	$line-height-computed: 2;
	$lines-to-show: 3;

  &__body {
    // font-size: $font-size-base;
    // height: $font-size-base * $line-height-computed * $lines-to-show;
    // line-height: $line-height-computed;
    position: relative;
    overflow: hidden;

    // &:before,
    // &:after {
    //   background: #fff;
    //   position: absolute;
    // }
    // &:before {
    //   content: "...";
    //   top: $font-size-base * $line-height-computed * ($lines-to-show - 1);
    //   right: 0;
    // }
    // &:after {
    //   content: "";
    //   height: 1em;
    //   width: 1em;
    // }
  }

	@each $category, $color in $category-color {
	  &[data-category="#{$category}"] .p-news-card__category {
	    color: $color;
	  }
	}

	&:not([href]) {
		display: none;
	}

	&:hover {
		cursor: pointer;
		text-decoration: none;
	}

	&:active, &:focus {
		text-decoration: none;
	}

	@include mq() {
		width: 100%;
		padding: 40px 16px;
		margin-bottom: 2rem;
	}

	&__category {
		color: $color-text-point;
		font-size: 1.4rem;
		line-height: 1.125;
		margin-bottom: 1rem;
		@include mq() {
			font-size: 1.2rem;
			font-weight: bold;
			line-height: 1.5;
		}
	}

	&__date {
		font-size: 1.4rem;
		line-height: 1.125;
		letter-spacing: 1px;
		margin-bottom: 2rem;
		@include mq() {
			font-size: 1.2rem;
			line-height: 1.5;
		}
	}

	&__header{
		font-size: 1.8rem;
		font-weight: bold;
		letter-spacing: 1px;
		line-height: 1.66;
		@include mq() {
			font-size: 1.4rem;
			font-weight: bold;
			line-height: 1.5;
			margin-bottom: 20px;
		}
	}

	&__body {
		font-size: 1.4rem;
		letter-spacing: 1px;
		line-height: 2.1;
		@include mq() {
			font-size: 1.2rem;
			line-height: 1.5;
		}
	}
}