.p-news-card {
	@include box-shadow;
	@include transition;
	padding: 40px 42px;
	background-color: white;
	margin-bottom: 4rem;

	&:hover {
		cursor: pointer;
	}

	@include mq() {
		width: 100%;
		padding: 40px 16px;
		margin-bottom: 2rem;
	}

	&__category {
		color: $color-text-point;
		font-size: 1.4rem;
		line-height: 1.125;
		margin-bottom: 1rem;
		@include mq() {
			font-size: 1.2rem;
			font-weight: bold;
			line-height: 1.5;
		}
	}

	&__date {
		font-size: 1.4rem;
		line-height: 1.125;
		letter-spacing: 1px;
		margin-bottom: 2rem;
		@include mq() {
			font-size: 1.2rem;
			line-height: 1.5;
		}
	}

	&__header{
		font-size: 1.8rem;
		font-weight: bold;
		letter-spacing: 1px;
		line-height: 1.66;
		@include mq() {
			font-size: 1.4rem;
			font-weight: bold;
			line-height: 1.5;
			margin-bottom: 20px;
		}
	}

	&__body {
		font-size: 1.4rem;
		letter-spacing: 1px;
		line-height: 2.1;
		@include mq() {
			font-size: 1.2rem;
			line-height: 1.5;
		}
	}
}