.p-page-product .p-block {
	@include mq() {
		margin-bottom: 60px;
	}
	@include mq(lg) {
		.p-product__button {
			margin-bottom: 16px;
		}
	}
}

.p-registration-block {
	@include mq() {
		padding-right: 24px;
		padding-left: 24px;
		.p-title__header, .p-title__body {
			text-align: center;
		}
		.p-title__body {
			letter-spacing: 1px;
			font-size: 1.4rem;
		}
	}
}

.p-product-block {
	display: flex;

	@include mq(lg) {
		flex-direction: column;

		.p-title__body {
			margin-bottom: 40px;
		}
	}

	&__text {
		max-width: 413px;
		margin-right: 40px;	
		@include mq(lg) {
			max-width: 100%;
			margin-right: 0;
		}
	}

	&__img-wrapper {
		@include mq(lg) {
			text-align: center;
		}
		>img {
			width: 456px;
			height: auto;
			@include mq(lg) {
				width: 100%;
				height: auto;
			}
		}
	}
}

