.p-page-product .p-block {
	@include mq() {
		margin-bottom: 60px;
	}
}

.p-registration-block {
	@include mq() {
		padding-right: 24px;
		padding-left: 24px;
	}
}

.p-product-block {
	display: flex;

	&__text {
		max-width: 413px;
		margin-right: 40px;	
	}

	&__img-wrapper {
		>img {
			width: 456px;
			height: auto;
		}
	}
}

