.p-member, .p-popup-member {

	&__list {
		padding: 0;
	}
	&__img {
		width: 160px;
		height: 160px;
		margin-bottom: 40px;
		@include mq() {
			width: 100px;
			height: 100px;
			margin-bottom: 16px;
		}
	}
	&__list-item {
		list-style: none;
		text-align: center;
		margin-bottom: 80px;
		@include mq() {
			margin-bottom: 16px;
		}
	}
	&__name {
		font-size: 2rem;
		letter-spacing: 3px; 
		margin-bottom: 2rem;
		margin-top: 0;
		@include mq() {
			font-size: 1.4rem;
			font-weight: bold;
			line-height: 1.7;
			letter-spacing: 0px;
			margin-bottom: 4px;
		}
	}
	&__role {
		font-size: 1.4rem;
		letter-spacing: 1px;
		line-height: 18px;
		@include mq() {
			font-size: 1.2rem;
			line-height: 1.5;
			letter-spacing: 0.1px;
			margin: 0;
		}
	}
}

.p-index {
	.p-member__profile {
		@include mq() {
			padding: 0;
		}
	}
}

.p-ambassador {
	color: $color-text-secondary;

	&__list {
		padding: 0;
	}
	
	&__list-item {
		list-style: none;
		margin-bottom: 60px;
		@include mq() {
			margin-bottom: 40px;
			&:first-child >:first-child{
				margin-bottom: 20px;
			}
		}	
	}

	&__profile {
		display: flex;
		justify-content: space-between;
		@include mq() {
			padding-left: 42px;
		}
	}

	$countries: "japan", "usa", "netherlands","china", "argentina", "taiwan", "malaysia", "singapore", "uk", "czech", "canada";

	@each $country in $countries {
		&__flag--#{$country} {
			background: url("/img/pc/flag_#{$country}.png") no-repeat;
			width: 42px;
			height: 28px;
			background-size: cover;
			display: inline-block;
			margin-right: 20px;
			@include mq() {
				width: 30px;
				height: 20px;
				margin-right: 12px;	
			}
		}
	}

	&__country {
		margin: 0;
		font-size: 2rem;
		font-weight: bold;
		color: $color-text-secondary;
		vertical-align: top;
		@include mq() {
			font-size: 1.4rem;
			vertical-align: super;
		}
	}

	&__twitter {
		display: inline-block;
		width: 44px;
		height: 44px;
		background: url("/img/pc/icon_community_twitter.png") center center no-repeat;
		background-size: 22px 18px;

		&.is-disabled {
			background: url("/img/pc/icon_community_twitter_disabled.png") center center no-repeat;
			background-size: 22px 18px;
			&:hover {
				cursor: default;
			}
		}
	}
	
	&__name {
		font-size: 2rem;
		font-weight: 500;
		margin: 0;
		display: inline-block;
		@include mq() {
			font-size: 1.4rem;
			line-height: 44px;
		}
	}
}