.p-member {
	&__list {
		padding: 0;
		@include mq() {
			margin-top: 20px;
		}
	}
	&__img {
		@include transition;
		width: 120px;
		height: 120px;
		margin-bottom: 20px;
		border-radius: 50%;
		border: 4px solid transparent;

		&:hover {
			cursor: pointer;
			border: 4px solid rgba(133,141,218,0.6);
		}

		@include mq() {
			width: 100px;
			height: 100px;
			margin-bottom: 16px;
		}
	}
	&__list-item {
		list-style: none;
		text-align: center;
		margin-bottom: 80px;
		&:hover {
			cursor: pointer;
		}
		@include mq() {
			margin-bottom: 60px;
		}
	}

	&__name {
		font-size: 1.6rem;
		line-height: 1.5;
		letter-spacing: 2px; 
		margin: 0;
		padding-bottom: 1rem;
		@include mq() {
			font-size: 1.4rem;
			font-weight: bold;
			line-height: 1.7;
			letter-spacing: 0px;
			padding-bottom: 4px;
		}
	}
	&__role {
		font-size: 1.4rem;
		letter-spacing: 1px;
		line-height: 1.28px;
		@include mq() {
			font-size: 1.2rem;
			line-height: 1.5;
			letter-spacing: 0.1px;
			margin: 0;
		}
	}
}

.p-popup-member {

  &__title {
    padding-left: 20px;
    @include mq() {
      padding-left: 0;
    }
  }
  &__img {
    margin-bottom: 12px;
    width: 160px;
    @include mq() {
      width: 120px;
    }
  }
  &__name {
    margin-top: 1.8em;
    margin-bottom: 8px;
    font-size: 2.4rem;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 3px;
    color: $color-text-secondary;

    @include mq() {
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: 0px;
      margin-top: 0;
    }
  }
  &__role {
    margin-top: 0;
    font-size: 1.4rem;
    line-height: 1.28;
    letter-spacing: 1px;
    color: $color-text-secondary;
    @include mq() {
      margin-bottom: 16px;
    }
  }
  &__row {
    display: flex;
    margin-bottom: 36px;
    @include mq() {
    	margin-bottom: 10px;
      flex-direction: column;
      text-align: center;
    }
  }
  &__body {
    font-size: 1.6rem;
    line-height: 2;
    color: $color-text-secondary;
    overflow-y: scroll;
    max-height: 228px;
    padding-right: 1em;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 7.5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-purple-light;
      border: solid 1px #979797;
      border-radius: 7.5px;
      box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
    }
    @include mq() {
      font-size: 1.2rem;
      height: 180px;
      max-height: 180px;
      letter-spacing: 0;
    }
  } 
  &__content {
    margin-left: 16px;
  }

  &__sns {
    .p-icon {
      margin: 10px 0;
    }
    .p-icon + .p-icon {
    	margin-left: 10px;
    }
  }
}

.p-icon {
  width: 36px;
  height: 36px;
  display: inline-block;

  $sns: "twitter", "facebook", "linkedin";
  @each $icon in $sns {
    &--#{$icon} {
      background: url("/img/sp/btn_#{$icon}.png") no-repeat;
      background-size: cover;
    }
  }

  &:not([href]) {
  	display: none;
  }
}


.p-index {
	.p-member__profile {
		@include mq() {
			padding: 0;
		}
	}
}

.p-ambassador {
	color: $color-text-secondary;

	@include mq() {
		margin-top: 40px;
	}

	&__list {
		padding: 0;
	}
	
	&__list-item {
		list-style: none;
		line-height: 44px;
		margin-bottom: 60px;
		@include mq() {
			margin-bottom: 40px;
			&:first-child >:first-child{
				margin-bottom: 20px;
			}
		}	
		@include mq(sm) {
			margin-bottom: 20px;
			&:first-child >:first-child{
				margin-bottom: 5px;
			}
		}	
	}

	&__profile {
		display: flex;
		justify-content: space-between;
		@include mq() {
			padding-left: 42px;
		}
	}

	$countries: "japan", "usa", "netherlands","china", "argentina", "taiwan", "malaysia", "singapore", "uk", "czech", "canada";

	@each $country in $countries {
		&__flag--#{$country} {
			background: url("/img/pc/flag_#{$country}.png") no-repeat;
			width: 42px;
			height: 28px;
			background-size: cover;
			display: inline-block;
			margin-right: 20px;
			margin-top: 8px;
			@include mq() {
				width: 30px;
				height: 20px;
				margin-right: 12px;	
			}
		}
	}

	&__country {
		margin: 0;
		font-size: 2rem;
		font-weight: bold;
		color: $color-text-secondary;
		vertical-align: top;
		@include mq() {
			font-size: 1.4rem;
			vertical-align: super;
		}
	}

	&__twitter {
		@include transition;
		display: inline-block;
		position: relative;
		width: 44px;
		height: 44px;
		background: url("/img/pc/icon_community_twitter.png") center center no-repeat;
		background-size: 22px 18px;

		&::before {
			@include transition;
			content: "";
			position: absolute;
			width: 44px;
			height: 44px;
			top: 0;
			opacity: 0;
			background: url("/img/pc/icon_community_twitter_hover.png") 50% 62% no-repeat;	
			background-size: 32px 30px;
		}

		&:hover::before {
			opacity: 1;
		}

		&.is-disabled {
			background: url("/img/pc/icon_community_twitter_disabled.png") center center no-repeat;
			background-size: 22px 18px;
			&:hover {
				cursor: default;
				&::before {
					opacity: 0;
				}
			}
		}
	}
	
	&__name {
		font-size: 1.6rem;
		line-height: 44px;
		font-weight: 500;
		margin: 0;
		display: inline-block;
		@include mq() {
			font-size: 1.4rem;
			line-height: 44px;
		}
	}
}