.p-cover-header {
  margin-top: calc(#{$navbar-height} + #{$navbar-mb});
  background-size: cover;
  color: $color-text-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;

  @include mq() {
    height: 200px;
    margin-top: calc(#{$navbar-height-sp} + #{$navbar-mb});
  }

  &__title {
    @include font-title;
    font-weight: bold;
    font-size: 6.4rem;
    color: $color-text-primary;
    line-height: 1.15;
    letter-spacing: 15px;
    margin: 0;

    @include mq() {
      font-size: 2.8rem;
      letter-spacing: 7px;
      line-height: 1.5;
    }
  }
}


// 各ページごとのカバー画像指定
$pages: "about", "team", "community", "product", "news";

.p-cover-header {
  @each $page in $pages {
    @extend .p-cover-header;
    &--#{$page} {
      background: url("/img/pc/img_#{$page}.jpg") center center no-repeat;
      background-size: cover;
    }
  }

  @include mq() {
    @each $page in $pages {
      &--#{$page} {
        background: url("/img/sp/img_#{$page}.jpg") center center no-repeat;
        background-size: cover;
      }
    }
    &--product {
      background: url("/img/sp/img_product.png") center center no-repeat;
      background-size: 100%;
    }
  }
}

.p-page {
  position: relative;
  padding-bottom: 100px;
  @include mq() {
    overflow: hidden;
  }
  &::before {
    @include mq-min(xxl) {
      max-width: 100%;
      background-position: right calc(50% - 480px) top 0;
      left: 0;
    }
    content: "";
    background: url("/img/pc/bg_logo.png") no-repeat;
    background-size: contain;
    background-position: right -241px top 0;
    height: 800px;
    width: 100%;
    max-width: 1440px;
    position: absolute;
    top: 400px;
    padding: 0 48px;
    margin: 0 auto;
    left: calc(50% - 720px);
    z-index: -1;
    @include mq(xxl) {
      left: 0;
    }
    @include mq() {
      top: 378px;
      width: 100%;
      background-position: right -166px top 0;
      background-size: 475px 436px;
    }
  }
}

.p-page.is-fixed::before {
  position: fixed;
  top: $navbar-height;
  @include mq() {
    top: calc(#{$navbar-height-sp} + 83px);
  }
}

.p-section {
  padding-top: 140px;
  @include mq() {
    padding-top: 20px;
    &:first-of-type {
      padding-top: 0;
    }

    .row {
      padding: 0 $main-padding-x-sp;
    }
  }
}

.p-page {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .p-section {
    padding-top: 160px;
    @include mq() {
      padding: 0 $main-padding-x-sp;
    }
  }
}

.p-block {
  padding: 100px 80px 100px;

  @include mq() {
    padding: 80px 0px 10px;
  }

  &:first-of-type {
    padding-top: 120px;
    @include mq() {
      padding-top: 60px;
    }
  }
}

.p-block--lg {
  @extend .p-block;
  padding: 100px 60px 100px;
  @include mq() {
    padding: 80px 0px 10px;
  }
}

.p-block--xs {
  @extend .p-block;
  padding: 100px 212px 100px;
  @include mq(xl) {
    padding: 100px 60px 100px;
  }
  @include mq(lg) {
    padding: 100px 80px 100px;
  }
  @include mq() {
    padding: 80px 0px 10px;
  }
}

.p-block + .p-block {
  padding-top: 50px;
  @include mq(sm) {
    padding-top: 0;
  }
}

.p-title {
  margin-bottom: 40px;

  &__header {
    @include title-header;
  }

  &__body {
    @include title-body;
  }
}

.p-page .p-title {
  margin-bottom: 40px;

  @include mq(sm) {
     margin-bottom: 20px;
  }

  &__header {
    @include title-header;
  }

  &__body {
    @include title-body;
  }
}

.is-ja .p-title {
  &__body {
    @include title-body('ja');
  }
}

.p-title--center {
  @extend .p-title;

  .p-title__header {
    text-align: center;
    @include mq() {
      text-align: left;
    }
  }

  &.text-center {
    @include mq() {
      .p-title__header, .p-title__body {
        text-align: left;
      }
    }
  }
}

.p-title--nobody {
  @extend .p-title;
  .p-title__header {
    margin-bottom: 80px;
    @include mq() {
      margin-bottom: 40px;
    }
  }
}

.p-title--ourproject {
  width: 640px;
  @include mq(xxl) {
    max-width: 66%
  }
  @include mq(lg) {
    width: 100%;
    max-width: 100%;
  }
}

@mixin button($width: auto) {
  @include gradation;
  @include transition;
  display: inline-block;
  border-radius: 30px;
  font-size: 1.4rem;
  color: #fff;
  min-width: $width;
  height: 38px;
  margin-right: 5px;
  margin-bottom: 12px;
  line-height: 38px;
  padding: 0 1em;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.3);

  &:hover, &:active, &:visited, &:focus {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
  }

  @include mq(){
    font-size: 1.2rem;
    line-height: 32px;
    height: 32px;
    min-width: 208px;
  }
}

@mixin button-square($width: auto) {
  background-color: $color-text-primary;
  border-color: $color-text-primary;
  color: white;
  display: inline-block;
  font-family: YuGo-Bold;
  font-size: 1.6rem;
  line-height: 0.75;
  padding-top: 20px;
  padding-bottom: 18px;
  color: #fff;
  width: $width;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.3);

  &:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
  }

  @include mq() {
    font-size: 1.2rem;
    height: 32px;
    padding: 10px 0;
  }
}



.p-button {
  @include button;

  &--lg {
    @include button(400px);
  }
}


.p-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 640px;
  max-height: 640px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(-50%);
  &.is-on {
    visibility: visible;
  }
  @include mq(xl) {
    width: calc(100% - 80px);
  }
  @include mq() {
    width: calc(100% - 40px);
  }
}

.p-popup__content {
  padding: 80px 60px;
  background-color: white;
  position: relative;

  &.is-on {
    transform: scale(1);
    opacity: 1;
  }

  @include mq() {
    padding: 60px 30px;
    max-height: calc(100% - 40px);
  }

  &__exit {
    position: absolute;
    right: 37px;
    top: 48px;
    width: 36px;
    height: auto;
    &:hover {
      cursor: pointer;
    }
    @include mq() {
      top: 20px;
      right: 20px;
    }
  }
}

.p-popup-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1900;
  opacity: 0;
  background: $color-background-overlay;
  transition: all 0.3s;
}

.p-popup.is-on + .p-popup-overlay {
  opacity: 1;
  visibility: visible;
}

.is-effect .p-popup__content {
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.3s;
}

.is-on.is-effect .p-popup__content {
  transform: scale(1);
  opacity: 1;
}
