$pages: "about", "team", "community", "product", "news";

.p-cover-header {
  margin-top: $navbar-height;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;

  @include mq() {
    height: 200px;
  }

  &__title {
    font-size: 6.4rem;
    color: white;
    line-height: 1.5;
    letter-spacing: 15px;
    margin: 0;
    @include mq() {
      color: $color-text-primary;
      font-size: 2.8rem;
      letter-spacing: 7px;
      line-height: 1.5;
    }    
  }

  @each $page in $pages {
    @extend .p-cover-header;
    &--#{$page} {
      background: url("/img/pc/img_#{$page}.jpg") center center no-repeat;
      background-size: cover;
    }
  }

  @include mq() {
    @each $page in $pages {
      &--#{$page} {
        background: url("/img/sp/img_#{$page}.jpg") center center no-repeat;
        background-size: cover;
      }
    }
    &--product {
      background: url("/img/sp/img_product.png") center center no-repeat;
    }
  }
}

.p-page {
  background: url("/img/pc/bg_logo.png") no-repeat;
  padding-bottom: 100px;
  background-position: right 0px top 514px;
  background-size: 628px;
  background-attachment: fixed;
  @include mq() {
    background-position: right 0px top 283px;
    background-size: 310px;
  }
}

.p-section {
  padding-top: 140px;
  @include mq() {
    padding-top: 20px;
    &:first-of-type {
      padding-top: 0;
    }

    .row {
      padding: 0 $inner-padding-x-sp;
    }
  }
}

.p-page .p-section {
  padding-top: 160px;
  @include mq() {
    padding: 0 $inner-padding-x-sp;
  }
}

.p-block {
  // padding-top: 120px;
  padding: 100px 80px 100px;

  &:first-of-type {
    padding-top: 120px;
    @include mq() {
      padding-top: 60px;
    }
  }

  @include mq() {
    padding: 80px 0px 10px;
  }
}

.p-block--sm {
  @extend .p-block;
  padding: 100px 60px 100px;
  @include mq() {
    padding: 80px 0px 10px;
  }
}

.p-block--xs {
  @extend .p-block;
  padding: 100px 60px 100px;
  @include mq() {
    padding: 80px 0px 10px;
  }
}

.p-block + .p-block {
  padding-top: 0;
}

// .p-title {
//   width: 100%;
//   text-align: left;
//   margin-bottom: 80px;

//   &--center {
//     text-align: center;
//   }

//   &__header {
//     font-size: 3.6rem;
//     letter-spacing: 8px;
//     line-height: 1.5;
//   }

//   &__body {
//     font-size: 2rem;
//     letter-spacing: 5px;
//     line-height: 2;
//   }
// }

.p-title {
  margin-bottom: 40px;

  &__header {
    @include title-header;
  }

  &__body {
    @include title-body;
  }
}

.p-page .p-title {
  margin-bottom: 40px;

  &__header {
    @include title-header;
    margin-bottom: 40px;
  }

  &__body {
    @include title-body;
    margin-bottom: 12px;
  }
}

.p-title--center {
  @extend .p-title;
  .p-title__header {
    text-align: center;
    @include mq() {
      text-align: center;
    }
  }
}

.p-title--nobody {
  @extend .p-title;
  .p-title__header {
    margin-bottom: 80px;
    @include mq() {
      margin-bottom: 40px;
    }
  }
}

.p-well {
  background: $color-background-light;
  padding: 12rem;
  margin: 8rem 0;
  @include mq() {
    padding: 60px $inner-padding-x-sp 40px;
    margin-bottom: 40px;
    .p-title__header {
      text-align: left;
    }
  }
}

@mixin button($width: auto) {
  @include gradation;
  display: inline-block;
  border-radius: 30px;
  font-family: YuGo-Bold;
  font-size: 1.6rem;
  color: #fff;
  width: $width;
  height: 50px;
  line-height: 50px;
  padding: 0 1em;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.3);
  &:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
  }

  @include mq(){
    font-size: 1.2rem;
    line-height: 32px;
    height: 32px;
  }
}

.p-button {
  @include button;

  &--lg {
    @include button(50%);
  }
}

.c-hamburger {
  width: 40px;
  a {
    position: relative;
    display: block;
    height: 30px;
    -webkit-transition: all .4s;
    transition: all .4s;
    box-sizing: border-box;
  }
  span {
    position: absolute;
    display: inline-block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #161b1d;
    border-radius: 2px;
    -webkit-transition: all .4s;
    transition: all .4s;
    box-sizing: border-box;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 14px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
    &:nth-of-type(2)::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 2px;
      background-color: #161b1d;
      border-radius: 2px;
      -webkit-transition: all .4s;
      transition: all .4s;
    }
  }
  .is-open span {
    &:nth-of-type(2) {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      &::after {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
    &:nth-of-type(1) {
      -webkit-transform: translateY(20px) scale(0);
      -ms-transform: translateY(20px) scale(0);
      transform: translateY(20px) scale(0);
    }
    &:nth-of-type(3) {
      -webkit-transform: translateY(-20px) scale(0);
      -ms-transform: translateY(-20px) scale(0);
      transform: translateY(-20px) scale(0);
    }
  }
}

.p-hamburger {
  width: 40px;
  position: relative;
  display: block;
  height: 30px;
  -webkit-transition: all .4s;
  transition: all .4s;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }

  span {
    position: absolute;
    display: inline-block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color-text-primary;
    border-radius: 2px;
    -webkit-transition: all .4s;
    transition: all .4s;
    box-sizing: border-box;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 14px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
    &:nth-of-type(2)::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 2px;
      background-color: $color-text-primary;
      border-radius: 2px;
      -webkit-transition: all .4s;
      transition: all .4s;
    }
  }
   &.is-open span {
    &:nth-of-type(2) {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      &::after {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
    &:nth-of-type(1) {
      -webkit-transform: translateY(20px) scale(0);
      -ms-transform: translateY(20px) scale(0);
      transform: translateY(20px) scale(0);
    }
    &:nth-of-type(3) {
      -webkit-transform: translateY(-20px) scale(0);
      -ms-transform: translateY(-20px) scale(0);
      transform: translateY(-20px) scale(0);
    }
  }
}

