.u-ja-only {
  display: none; 
}

.is-ja {
  .u-ja-only {
    display: block;
  }
  
  .u-ja-only--inline-block {
    display: inline-block;
  }
}

.u-sp-only {
  display: none!important;
  @include mq() {
    display: block!important;;
  }
}

.u-md-only {
  display: none!important;
  @include mq(lg) {
    display: block!important;;
  } 
}

.u-pc-only { 
  @include mq() {
    display: none!important;
  }
}



