// COLORS ---------------------------------------------------

/* background */
$color-background-base: #fff;
$color-background-dark: #05051E;
$color-background-light: rgba(35, 37, 56, 0.01);
$color-background-overlay: rgba(35, 37, 56, 0.8);

/* gradation */
$color-gradation-start: #858DDA;
$color-gradation-end: #232538;

/* text */ 
$color-text-primary: #232538;
$color-text-secondary: #333;
$color-text-point: #F5A623;

$color-purple-light: #858DDA;


// SIZE ---------------------------------------------------

$inner-padding-x: 48px;
$inner-padding-x-sp: 16px;
$inner-index-padding-x: 150px;
$body-width: 1440px;
$inner-width: calc(#{$body-width} - #{$inner-padding-x*2});
$inner-width-sp: calc(100% - #{$inner-padding-x-sp*2});
$navbar-height: 82px;
$navbar-height-sp: 63px;
$navbar-mb: 32px;

$breakpoints: (
  'sm': 'screen and (max-width: 577px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 993px)',
  'xl': 'screen and (max-width: 1201px)',
  'xxl': 'screen and (max-width: 1441px)',
) !default;

$breakpoints-min: (
  'sm': 'screen and (min-width: 576px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 992px)',
  'xl': 'screen and (min-width: 1200px)',
  'xxl': 'screen and (min-width: 1440px)',
) !default;

// Mixin --------------------------------------------------

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin mq-min($breakpoint-min: md) {
  @media #{map-get($breakpoints-min, $breakpoint-min)} {
    @content;
  }
}

@mixin gradation {
  background-image: linear-gradient(-134deg, $color-gradation-start 0%, $color-gradation-end 100%);
}

@mixin make-inner {
  max-width: $body-width;
  padding: 0 $inner-padding-x;
  margin: 0 auto;
  @include mq() {
    padding: 0 $inner-padding-x-sp;
  }
}

@mixin make-padding-x($xxl: $main-padding-x, $xl: $main-padding-x, $lg: $main-padding-x, $md: $main-padding-x-sp, $sm: $inner-padding-sp){
  padding-right: $md;
  padding-left: $md;
  @include mq-min(xxl) {
    padding-right: $xxl;
    padding-left: $xxl;
  }
  @include mq(xl) {
    padding-right: $xl;
    padding-left: $xl;
  }
  @include mq(lg) {
    padding-right: $lg;
    padding-left: $lg;
  }
  @include mq(md) {
    padding-right: _md;
    padding-left: _md;
  }
  @include mq(sm) {
    padding-right: $sm;
    padding-left: $sm;
  }
}

@mixin font-title() {
  font-family: "Times New Roman";
}

@mixin font-nomal($lang: 'en') {
  @if $lang == 'ja' {
    font-family: "Yu Gothic", YuGothic, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ,
    Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  }@else{
    font-family: 'Abel', sans-serif;
  }
}

@mixin transition() {
  transition: all .4s ease;
}

@mixin title-header() {
  @include font-title;
  font-size: 3.6rem;
  line-height: 1.5;
  letter-spacing: 8px;
  margin-bottom: 40px;

  @include mq() {
    margin-top: 0;
    font-size: 2.8rem;
    letter-spacing: 3px;
    line-height: 1.15;
    text-align: left;
  }
  
  @include mq(sm) {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 12px;
  }
}

@mixin title-body($lang: 'en') {
  
  @if $lang == 'ja' {
    font-size: 1.6rem;
  }@else{
    font-size: 1.4rem;
  }

  margin-bottom: 8rem;
  line-height: 2;
  letter-spacing: 3px;

  @include mq() {
    margin-top: 0;
    font-size: 1.6rem;
    line-height: 2;
    text-align: left;
    margin-bottom: 4rem;
  } 

  @include mq(sm) {
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    margin-bottom: 2rem;
  }
}

@mixin box-shadow($hover: true) {
  box-shadow: 0 4px 10px 0 rgba(192,192,192,0.2);

  @if $hover {
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(192,192,192,0.6);
    }
  }
}



