// TODO: index.htmlのものを別に分ける
body {
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ,
  Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

// color
$brandColor: #858dda;
$textDarkGrayColor: #787878;
$textDarkestGrayColor: #464646;
$textLightGrayColor: lightgray;
$textDarkBlueColor: #444c76;
$textHighlightColor: #ff8103;
$containerGrayColor: #f8f8f8;
$buttonLightBlueColor: #67c5ff;
$buttonPurpleColor: #8c9af3;
$buttonhoverPurpleColor: #858dda;

$navColor: #05051e;

// text size
$subTextSize: 16px;

// line height
$subTextLineHeight: 32px;

// button height
$buttonHeight: 41px;

// margin
$marginLeadBottomMobile: 34px;

// navbar
$navbarHeight: 82px;
