/* GLOBAL STYLES
-------------------------------------------------- */
@import 'variable';
@import 'foundation';
@import 'layout';
@import 'component';
@import 'navbar';
@import 'project';
@import 'p-index';
@import 'p-about';
@import 'p-team';
@import 'p-product';
@import 'p-community';
@import 'p-news';
@import 'utilities';







/* RESPONSIVE CSS
-------------------------------------------------- */


@media (max-width: 640px) {

  .navbar {
    .navbar-collapse {
      border-top: 0;
    }

    &__sns-links__link {
      margin-right: 30px;
    }

    .nav {
      &__language {
        margin-top: 15px;
      }
    }
  }

  .cover {
    &__caption {
      h2 {
        font-size: 21px;
      }
    }
  }

  .service-information {
    &__logo {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 56%;
    }
    .lead {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .ico {
    &__heading {
      font-size: 20px;
    }
  }

  .footer {
    &__sns-links {
      :not(:first-child) {
        margin-left: -4px;
      }
    }
  }
}


@media (min-width: 768px) {
  .navbar {
    padding-right: 15px;
    padding-left: 15px;

    .navbar-collapse {
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  }

}

