/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  padding-bottom: 40px;
  color: #5a5a5a;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar {
  height: 82px;
  padding-top: 14px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;

  .container {
    width: auto;
  }

  .nav {
    float: right;
    font-size: 18px;
    margin-top: 4px;
    margin-right: -5px;

    li a {
      padding-left: 4px;
    }
  }
}

.navbar-brand {
  &__logo {
    width: 127px;
    margin-top: -8px;
    margin-left: -3px;
  }
}

/* Cover
-------------------------------------------------- */

.cover {
  position: relative;
  height: 500px;
  margin-bottom: 60px;

  .item {
    height: 500px;
    background-color: #777;
  }

  &__caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);

    &__btn {
      text-shadow: none;
    }
  }
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* Service information
-------------------------------------------------- */

.service-information {
  .col-md-12 {
    margin-bottom: 20px;
    text-align: center;
  }

  &__heading {
    font-weight: normal;
  }

  &__logo {
    margin-top: 20px;
    margin-bottom: 20px;

    width: 500px;
  }

  &__button {
    width: 558px;
    height: 56px;
    font-size: 26px;
    vertical-align: middle;
  }

  &__divider {
    margin: 80px 0;
  }
}

/* Features
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.features {
  .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;

    p {
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  h2 {
    font-weight: normal;
  }

  &__circle-image {
    width: 200px;
    height: 200px;
  }
}

/* ICO & Technology
-------------------------------------------------- */

.ico,
.technology {
  .col-md-12 {
    margin-bottom: 20px;
    text-align: center;
  }

  &__heading {
    font-weight: normal;
  }

  &__logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__button {
    width: 558px;
    height: 56px;
    font-size: 26px;
    vertical-align: middle;
  }

  &__divider {
    margin: 80px 0;
  }
}

/* Team
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.team {
  .col-md-12 {
    margin-bottom: 20px;
    text-align: center;
  }

  h2 {
    font-weight: normal;
  }

  .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;

    p {
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  &__circle-image {
    width: 140px;
    height: 140px;
  }

  &__content {
    text-align: left;
  }

  &__sns-link {
    a:not(:first-child) {
      margin-left: 3px;
    }

    img {
      width: 23px;
      height: 20px;
    }
  }
}

/* Footer
-------------------------------------------------- */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__sns-links {
    :not(:first-child) {
      margin-left: 11px;
    }

    margin-bottom: 31px;

    &__link {
      color: #979797;
    }
  }
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;

    .container {
      padding-right: 15px;
      padding-left: 15px;
    }

    .navbar {
      padding-right: 0;
      padding-left: 0;

      /* The navbar becomes detached from the top, so we round the corners */
      border-radius: 4px;
    }
  }
  .cover__caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;

    p {
      margin-bottom: 20px;
      font-size: 21px;
      line-height: 1.4;
    }
  }

  .service-information,
  .features,
  .ico,
  .technology,
  .team {
    &__heading {
      font-size: 50px;
    }
  }
}

@media (min-width: 992px) {
  .features-heading {
    margin-top: 120px;
  }
}
