 /* GLOBAL STYLES
-------------------------------------------------- */
@import 'common';

body {
  padding-bottom: 40px;
}

/* Navbar
-------------------------------------------------- */

.navbar {
  height: $navbarHeight;
  padding-top: 14px;
  margin-bottom: 0;
  background-color: $navColor;

  .container {
    width: auto;
    background-color: $navColor;

    .navbar-collapse {
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  }

  &__sns-links__link{
    margin-right: 40px;
  }

  .nav {
    float: right;
    font-size: 18px;
    margin-top: 16px;
    margin-right: -5px;

    > li {
      > a {
        display: inline;
        padding-left: 4px;
        color: white;
      }
    }

    .dropdown-menu{
      a {
        color: $textDarkBlueColor;

        &:hover {
          background-color: $textDarkBlueColor;
          color: white;
        }
      }
    }

    &__language {
      margin-top: -5px;
      color: gray;
    }
  }
}

.navbar-brand {
  &__logo {
    width: 127px;
    margin-top: -16px;
    margin-left: -3px;
  }
}

/* Cover
-------------------------------------------------- */
.cover-until-ico {
  display: none;
  position: relative;
  height: 400px;
  margin-bottom: 60px;

  &__caption {
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);

    em {
      font-style: normal;
      color: $textHighlightColor;
    }
  }

  &__square-btn {
    display: inline-block;
    padding: 0.55em;
    height: $buttonHeight;
    text-decoration: none;
    margin: 10px 30px;
    color: white;
    width: 200px;
    border: solid 2px $buttonLightBlueColor;
    border-radius: 3px;
    transition: .4s;

    &:hover {
      background: $buttonLightBlueColor;
      color: white;
      text-decoration: none;
    }
  }

  &__countdown {
    background-color: rgba(56, 57, 79, 0.5);
    border-radius: 5px;
    color: white;
    text-align: center;

    h2 {
      margin: 0;
      font-weight: bold;
    }

    &__caption {
      margin: 5px 0 0;
    }
  }

  &__countdown-timer {
    &__number {
      font-weight: bold;
    }
  }

  &__instruction {
    text-align: center;
    color: white;

    a {
      img {
        margin-right: 12px;
        vertical-align: bottom;
      }

      span {
        color: white;
      }

      &:visited {
        text-decoration-color: white;
      }
    }
  }

  &__learn-more {
    text-align: center;

    a {
      display: inline-block;
      background-color: #00b0f0;
      padding-top: 12px;
      width: 225px;
      height: 46px;
      color: white;

      &:hover, &:visited {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.cover {
  display: none;
  position: relative;
  height: 400px;
  margin-bottom: 60px;
  color: white;

  &__caption {
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);

    em {
      font-style: normal;
      color: $textHighlightColor;
    }
  }

  &__countdown-heading {
    color: white;
    text-align: center;

    h2 {
      margin: 0;
      font-weight: bold;
    }

    &__caption {
      margin: 5px 0 0;
    }
  }

  &__countdown-timer {
    text-align: center;
    background-color: rgba(56, 57, 79, 0.5);
    border-radius: 5px;

    &__number {
      font-weight: bold;
    }

    > div {
      height: 100%;
    }

    .col-xs-2 {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .col-xs-4 {
      border-right: 1px solid #4c527b;
      display: flex;
      align-items: center;
      justify-content: center;

      strong {
        color: $textHighlightColor;
      }
    }
  }

  &__notice {
    a {
      color: white;
      text-decoration: underline;
    }

    strong {
      color: $textHighlightColor;
    }
  }

  &__tac {
    text-align: center;

    input {
      margin-right: 5px;
    }

    a {
      color: white;
      text-decoration: underline;
    }
  }

  &__instruction {
    text-align: center;
    color: white;

    a {
      img {
        margin-right: 12px;
        vertical-align: bottom;
      }

      span {
        color: white;
      }

      &:visited {
        text-decoration-color: white;
      }
    }
  }

  &__contribute {
    text-align: center;

    button {
      display: inline-block;
      background-color: #00b0f0;
      width: 225px;
      height: 46px;
      color: white;
      border: none;

      &:hover {
        color: white;
      }

      &.disabled {
        background-color: gray;
      }
    }
  }

  &__slack {
    text-align: center;

    a {
      display: inline-block;
      background-color: $buttonPurpleColor;
      padding-top: 10px;
      width: 160px;
      height: 38px;
      color: white;
      transition: .4s;

      &:hover {
        background-color: $buttonhoverPurpleColor;
        color: white;
        text-decoration: none;
      }
    }
  }
}

.carousel-inner {
  margin-top: $navbarHeight;
  height: 100%;

  .item {
    position: absolute;
    background-size: cover;
    background: #4c527b url('/img/cover-background.png');
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
  }
}

/* Service information
-------------------------------------------------- */

.service-information {
  .col-md-12 {
    margin-bottom: 70px;
    text-align: center;
  }

  &__heading {
    margin-bottom: 36px;
    color: $textDarkBlueColor;
  }

  &__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
  }

  &__square-btn {
    display: inline-block;
    padding: 0.7em;
    height: $buttonHeight;
    text-decoration: none;
    margin: 10px 30px;
    color: white;
    background-color: $buttonPurpleColor;
    width: 200px;
    border: 0;
    border-radius: 3px;
    transition: .4s;

    &:hover {
      background: $buttonhoverPurpleColor;
      color: white;
      text-decoration: none;
    }
  }
}

/* Media Logos
-------------------------------------------------- */

.media-logos {
  .col-md-12 {
    margin-bottom: 30px;
    text-align: center;
  }

  img {
    width: 150px;
    margin: 20px;
  }
}

/* Features
-------------------------------------------------- */

.features {

  background-color: $containerGrayColor;
  width: auto;

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 70px;
  }

  &__item {
    margin-top: 17px;
    text-align: center;
    line-height: 26px;

    h4 {
      color: $textDarkestGrayColor;
    }

    p {
      margin-right: 10px;
      margin-left: 10px;
      color: $textDarkGrayColor;
      text-align: left;
    }
  }

  h2 {
    font-weight: normal;
  }

  &__heading {
    text-align: center;
    color: $textDarkBlueColor;
  }

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;

    &__image {
      width: 100%;
    }
  }
}

/* About Japan
-------------------------------------------------- */

.about-japan {
  vertical-align: middle;
  margin-bottom: 70px;

  .col-md-7 {
    margin-top: 20px;
    text-align: left;

    h3 {
      color: $textDarkestGrayColor;
    }

    p {
      font-size: $subTextSize;
      line-height: $subTextLineHeight;
      color: $textDarkGrayColor;
    }
  }

  .about-japan__row {
    margin-top: 48px;
  }

  &__heading {
    text-align: center;
    color: $textDarkBlueColor;
  }

  &__image-container {
    display: flex;
    align-items: center;
    margin-top: 33px;
  }
}

/* ICO
-------------------------------------------------- */

/*noinspection ALL*/
.ico {
  background-image: url("/img/ico-background.png");
  color: white;
  width: auto;
  padding-bottom: 44px;

  .col-md-12 {
    text-align: center;
  }

  &__heading {
    margin-bottom: 16px;

    em {
      font-weight: bold;
      font-style: normal;
    }
  }

  &__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
  }

  &__schedule {
    border: 1px solid rgba(217, 217, 217, 0.8);
    text-align: center;
    position: relative;
    margin-bottom: 50px;

    &__heading {
      border-bottom: 1px solid rgba(217, 217, 217, 0.8);
      background-color: rgba(146, 215, 255, 0.17);
      height: 77px;
      padding-top: 10px;
      font-size: 20px;

      font-weight: normal;

      strong {
        color: $textHighlightColor;
      }
    }

    &__body {
      background-color: #374269;
      font-weight: normal;
      padding-top: 18px;
      padding-bottom: 36px;

      &__section {
        &--from {
          margin-bottom: 14px;
        }
      }

      &__heading {
        margin: 0;
        color: #8d97f6;
        font-size: 16px;
      }

      &__datetime {
        margin-top: 4px;
        font-size: 18px
      }
    }

    &__icon {
      position: absolute;
      bottom: -20px;
      left: 0;
      right: 0;

      i {
        background-color: #00b0f0;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 2.1;
      }
    }
  }

  &__information {
    text-align: left;

    &__heading {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 24px;
    }

    &__row {
      padding: 10px 20px;
      margin-bottom: 6px;
      background-color: rgba(146, 215, 255, 0.17);
      font-size: 20px;

      &--right {
        text-align: right;
      }
    }

    &__caption {
      margin-top: 12px;
      padding-left: 20px;
      font-size: 16px;
      list-style: none;

      li:before {
        content: "*";
        color: #00b0f0;
        margin-right: 5px;
      }
    }
  }

  &__forms--live {
    display: none;
  }

  &__tac {
    text-align: center;

    input {
      margin-right: 5px;
    }

    a {
      color: white;
      text-decoration: underline;
    }
  }

  &__instruction {
    text-align: center;
    color: white;

    a {
      img {
        margin-right: 12px;
        vertical-align: bottom;
      }

      span {
        color: white;
      }

      &:visited {
        text-decoration-color: white;
      }
    }
  }

  &__contribute {
    text-align: center;

    button {
      display: inline-block;
      background-color: #00b0f0;
      width: 225px;
      height: 46px;
      color: white;
      border: none;

      &:hover {
        color: white;
      }

      &.disabled {
        background-color: gray;
      }
    }
  }

  &__slack {
    text-align: center;

    a {
      display: inline-block;
      background-color: $buttonPurpleColor;
      padding-top: 10px;
      width: 160px;
      height: 38px;
      color: white;
      transition: .4s;

      &:hover {
        background-color: $buttonhoverPurpleColor;
        color: white;
        text-decoration: none;
      }
    }
  }

  &__join-slack {
    display: inline-block;
    background-color: #00b0f0;
    margin-top: 44px;
    margin-bottom: 90px;
    padding-top: 14px;
    width: 305px;
    height: 58px;
    color: white;
    font-size: 20px;

    &:hover, &:visited {
      color: white;
      text-decoration: none;
    }
  }
}


/* Technology
-------------------------------------------------- */

.technology {
  background-color: $containerGrayColor;
  width: auto;

  .col-md-12 {
    margin-bottom: 70px;
    text-align: center;
  }

  &__heading {
    margin-bottom: 16px;
    color: $textDarkBlueColor;
  }
  &__logo {
    margin-top: 32px;
    margin-bottom: 44px;
    width: 82%;
  }
}

/* Subscribe form
-------------------------------------------------- */

.subscribe-form {
  .col-md-12 {
    margin-top: 40px;
    margin-bottom: 70px;
    text-align: center;
  }

  .lead{
    color: $textDarkBlueColor;
  }

  &__heading {
    margin-bottom: 36px;
    color: $textDarkBlueColor;
  }

  &__square-btn {
    display: inline-block;
    padding: 0.7em;
    height: $buttonHeight;
    text-decoration: none;
    margin: 10px 30px;
    color: white;
    background-color: $buttonPurpleColor;
    width: 200px;
    border: 0;
    border-radius: 3px;
    transition: .4s;

    &:hover {
      background: $buttonhoverPurpleColor;
      color: white;
      text-decoration: none;
    }
  }
}

/* Team
-------------------------------------------------- */

.team {
  background-image: url("/img/team-background.png");

  .col-md-12 {
    margin-bottom: 48px;
    text-align: center;
  }

  h2,
  h3,
  h5 {
    color: $textDarkBlueColor;
  }

  h3,
  h5,
  &__circle-image,
  &__cntent {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .col-lg-4 {
    margin-bottom: 70px;
    text-align: center;
  }

  h2 {
    font-weight: normal;
  }

  h3 {
    font-weight: 600;
  }

  &__circle-image {
    width: 140px;
    height: 140px;
  }

  &__content {
    text-align: left;
    color: $textDarkGrayColor;
  }

  &__sns-link {
    margin-bottom: 22px;

    a:not(:first-child) {
      margin-left: 3px;
    }

    img {
      width: 23px;
      height: 20px;
    }
  }
}

/* Footer
-------------------------------------------------- */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $textLightGrayColor;
  background-image: url('/img/footer-background.png');
  height: 309px;
  width: auto;
  padding-top: 31px;
  margin-bottom: -40px;

  &__sns-links {
    :not(:first-child) {
      margin-left: 11px;
    }

    margin-bottom: 31px;

    &__link {
      color: #979797;
    }
  }

  &__company {
    margin-bottom: 0;
  }

  &__raw-link {
    color: $textDarkGrayColor;
    font-size: smaller;
  }
}

 /* TAC modal
 -------------------------------------------------- */

.tac-modal {
  .modal-body {
    h4 {
      font-weight: bold;
    }
  }
}

 /* Warning modal
 -------------------------------------------------- */

.warning-modal {
  margin: 10% 10%;

  &__messages {
    font-size: large;
  }

  &__introduction {
    text-align: center;
    margin-top: 30px;
    font-size: x-large;

    i {
      margin-right: 4px;
    }
  }

  &__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    text-align: center;
    width: 188px;
    font-size: x-large;
    margin-top: 17px;
  }
}

 /* Contribute modal
 -------------------------------------------------- */

.contribute-modal {
  overflow-y: auto;
  max-height: 100%;

  .modal-header {
    text-align: center;
    border: none;

    h4 {
      font-weight: bold;
      color: $textDarkBlueColor;
    }
  }

  &__header {
    text-align: center;
    position: relative;
    margin-top: 24px;

    &:before {
      content: "";
      display:inline-block;
      width: 100%;
      height:1px;
      background-color: $textDarkBlueColor;
      position: absolute;
      top: 20px;
      left: 0;
    }

    &:first-child {
      margin-top: 0;
    }

    h5 {
      text-align: center;
      background-color: $textDarkBlueColor;
      color: white;
      font-weight: bold;
      padding-top: 14px;
      width: 240px;
      height: 40px;
      margin: 0 auto;
      position: relative;
    }
  }

  p {
    margin-top: 16px;
    text-align: center;
    color: darkred;
    font-size: 16px;
    word-wrap: break-word;
  }

  ul {
    margin-top: 16px;
    color: $textDarkGrayColor;
    font-size: 16px;

    li {
      margin-top: 4px;
    }

    strong {
      color: darkred;
      font-weight: bold;
    }
  }

  &__introduction {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;

    i {
      margin-right: 4px;
    }
  }

  .modal-footer {
    text-align: center;
    border: none;
    margin-top: 4px;
  }
}


 /* raw modal
 -------------------------------------------------- */

.raw-modal {
  margin: 10% 10%;
  overflow-y: auto;
  max-height: 100%;
  color: $textDarkestGrayColor;

  &__body {
    text-align: left;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* RESPONSIVE CSS
-------------------------------------------------- */

// ex) iPhone5/5S/5c/SE
@media (min-width: 320px) {
  .cover-until-ico {
    height: 680px;
  }

  .cover {
    height: 680px;

    &__countdown-heading {
      margin-top: 24px;

      h2 {
        font-size: 18px;
      }
    }

    &__countdown-timer {
      margin: 12px 0 0;
      font-size: 14px;
      height: 80px;

      &__number {
        font-size: 24px;
      }

      &__unit {
        font-size: 10px;
      }
    }

    &__rate {
      font-size: 12px;
      align-items: center;
    }

    &__notice {
      font-size: 12px;
      margin-top: 4px;
      margin-right: 10px;
      text-align: right;
    }

    &__instruction {
      margin-top: 14px;
      font-size: 14px;
    }

    &__tac {
      margin-top: 16px;
    }

    &__contribute {
      button {
        margin-top: 18px;
        font-size: 16px;
      }
    }

    &__slack {
      margin-top: 18px;

      a {
        font-size: 14px;
      }
    }
  }

  .ico {
    &__instruction {
      margin-top: 30px;
      font-size: 14px;
    }

    &__tac {
      margin-top: 14px;
    }

    &__contribute {
      button {
        margin-top: 18px;
        font-size: 16px;
      }
    }

    &__slack {
      margin: 18px 0 36px;

      a {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 375px) {
  .cover-until-ico {
    height: 540px;
  }

  .cover {
    &__caption {
      padding-top: 26px;
    }

    &__countdown-timer {
      height: 90px;

      &__number {
        font-size: 28px;
      }

      &__unit {
        font-size: 12px;
      }
    }

    &__rate {
      font-size: 14px;
    }

    &__notice {
      font-size: 14px;
    }

    &__instruction {
      margin-top: 30px;
    }

    &__contribute {
      button {
        margin-top: 24px;
      }
    }

    &__slack {
      margin: 24px;
    }
  }

  .ico {
    &__contribute {
      button {
        margin-top: 24px;
      }
    }

    &__slack {
      margin: 24px 0 48px;
    }
  }
}

@media (max-width: 640px) {
  body {
    // FIXME:
    margin-right: -5px;
  }

  .navbar {
    .navbar-collapse {
      border-top: 0;
    }

    &__sns-links__link{
      margin-right: 30px;
    }

    .nav{
      &__language{
        margin-top: 15px;
      }
    }
  }

  .cover-until-ico {
    &__caption {
      padding-top: 8px;

      h2 {
        font-size: 24px;
      }
    }

    &__square-btn {
      width: 150px;
      margin-left: 10px;
      margin-right: 10px;
    }

    &__countdown {
      padding: 14px 32px 14px;
      margin-top: 10px;
      font-size: 14px;

      h2 {
        font-size: 16px;
      }

      &__timer {
        margin-top: 10px;

        &__number {
          font-size: 28px;
        }
      }
    }

    &__instruction {
      margin-top: 24px;
      font-size: 14px;
    }

    &__learn-more {
      a {
        margin-top: 32px;
        font-size: 16px;
      }
    }
  }

  .service-information {
    &__logo {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 56%;
    }
    .lead{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .ico {
    &__heading {
      font-size: 20px;
    }

    .lead {
      margin-bottom: $marginLeadBottomMobile;
      font-size: 13px;
    }

    &__schedule {
      &__heading {
        font-size: 18px;
        height: 70px;
      }

      &__body__heading {
        font-size: 14px;
      }

      &__body__datetime {
        font-size: 16px;
      }

      &__schedule__icon {
        i {
          height: 36px;
          width: 36px;
        }
      }
    }

    &__information {
      &__heading {
        font-size: 20px;
        text-align: center;
      }

      &__row {
        font-size: 14px;
      }

      &__caption {
        text-align: center;
        font-size: 14px;
        margin-top: 15px;
        padding-left: 0;
      }
    }

    &__join-slack {
      margin-top: 20px;
      margin-bottom: 70px;
    }
  }

  .footer {
    &__sns-links {
      :not(:first-child) {
        margin-left: -4px;
      }
    }
  }
}

@media (min-width: 640px) {
  .cover-until-ico {
    height: 560px;

    &__caption {
      padding-top: 26px;
    }

    &__countdown {
      padding: 20px 32px 20px;
      margin-top: 16px;
      font-size: 14px;

      h2 {
        font-size: 16px;
      }

      &__timer {
        margin-top: 10px;

        &__number {
          font-size: 32px;
        }
      }
    }

    &__instruction {
      margin-top: 14px;
      font-size: 14px;
    }

    &__learn-more {
      a {
        margin-top: 24px;
        font-size: 16px;
      }
    }
  }

  .cover {
    &__caption {
      padding-top: 26px;
    }

    &__countdown-heading {
      margin-top: 15px;

      h2 {
        font-size: 20px;
      }
    }

    &__countdown-timer {
      margin: 24px 20px 0;
      height: 108px;

      &__number {
        font-size: 32px;
      }

      &__unit {
        font-size: 14px;
      }
    }

    &__rate {
      font-size: 16px;
    }

    &__notice {
      margin-right: 30px;
      font-size: 16px;
    }
  }

  .service-information,
  .ico {
    .lead {
      margin-bottom: $marginLeadBottomMobile;
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    padding-right: 15px;
    padding-left: 15px;

    .navbar-collapse {
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  }

  .cover-until-ico {
    height: 680px;

    &__caption {
      padding-top: 36px;

      p {
        font-size: 16px;
        line-height: 1.4;
        margin: 16px 0 20px;
      }
    }

    &__countdown {
      padding: 32px 32px 40px;
      margin-top: 24px;
      font-size: 16px;

      h2 {
        font-size: 22px;
      }
    }

    &__countdown-timer {
      margin-top: 20px;

      &__number {
        font-size: 44px;
      }
    }

    &__instruction {
      margin-top: 14px;
      font-size: 16px;
    }

    &__learn-more {
      a {
        margin-top: 32px;
        font-size: 16px;
      }
    }
  }

  .cover {
    height: 680px;

    &__caption {
      p {
        font-size: 16px;
        line-height: 1.4;
        margin: 16px 0 20px;
      }
    }

    &__countdown-timer {
      margin: 28px 20px 0;
      height: 108px;

      &__number {
        font-size: 36px;
      }
    }

    &__rate {
      font-size: 20px;
    }

    &__instruction {
      margin-top: 32px;
      font-size: 16px;
    }

    &__tac {
      margin-top: 14px;
    }
  }

  .service-information {
    .lead {
      font-size: $subTextSize;
      line-height: $subTextLineHeight;
      margin: 20px auto;
      color: $textDarkGrayColor;
    }
  }

  .features {
    &__row {
      &__item {
        margin-top: 9px;
      }
    }
  }

  .about-japan {
    &__image-container {
      margin-top: 0;
    }
  }

  .technology {
    .lead {
      font-size: $subTextSize;
      margin: 0 auto;
      line-height: $subTextLineHeight;
      color: $textDarkGrayColor;
    }

    &__logo {
      width: 500px;
    }
  }

  .ico {
    .lead {
      font-size: 18px;
      line-height: $subTextLineHeight;
      margin: 0 auto 48px;
      color: white;
    }

    &__instruction {
      margin-top: 32px;
      font-size: 16px;
    }

    &__tac {
      margin-top: 14px;
    }
  }

  .service-information,
  .features,
  .ico,
  .technology,
  .about-japan,
  .team {
    &__heading {
      font-weight: normal;
      font-size: 40px;
      margin-top: 70px;
    }
  }
}

@media (max-width: 991px) {
  .navbar{
    float: right;
    padding-left: 0;
    padding-right: 0;

    .navbar-collapse {
      border-top: 0;
    }

    .nav{
      & > li > a {
        padding-top: 0;
        padding-bottom: 0;

        &.navbar__sns-links__link {
          padding-top: 10px;
        }
      }

      &__language{
        margin-top: 15px;
        margin-bottom: 10px;
      }

      .dropdown-menu {
        min-width: 138px;
      }
    }

    .navbar-nav > li {
      margin-top: 4px;
    }
  }

  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 0;
  }

  .navbar-collapse.collapse {
    display: none!important;
  }

  .navbar-nav {
    float: right!important;
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block!important;
  }

  .collapsing {
    overflow: hidden!important;
  }
}

@media (min-width: 992px) {
  .cover-until-ico {
    &__caption {
      padding-top: 50px;
    }
  }

  .cover {
    &__caption {
      padding-top: 36px;
    }

    &__countdown-timer {
      margin: 28px 110px 0;
    }

    &__notice {
      margin-right: 130px;
    }
  }

  .features {
    .features-heading {
      margin-top: 120px;
    }

    &__row {
      flex-direction: row;
    }
  }

  .service-information,
  .technology,
  .ico {
    .lead {
      width: 800px;
    }
  }

  .warning-modal {
    &__messages {
      font-size: xx-large;
    }
  }
}

@media (min-width: 1200px) {
  .cover-until-ico {
    &__caption {
      margin-left: 70px;
      margin-right: 70px;
    }
  }

  .cover {
    &__countdown-timer {
      margin: 28px 210px 0;
    }

    &__notice {
      margin-right: 230px;
    }
  }
}

@media (min-width: 1440px) {
  .cover, .cover-until-ico {
    .item {
      // FIXME
      background-size: 100% !important;
    }
  }

  .ico,
  .team,
  .footer {
    background-size: 100%;
  }
}
