/* GLOBAL STYLES
-------------------------------------------------- */
@import 'variable';
@import 'foundation';
@import 'layout';
@import 'navbar';
@import 'project';
@import 'p-index';
@import 'p-about';
@import 'p-team';
@import 'p-community';
@import 'p-news';


/* Subscribe form
-------------------------------------------------- */

.subscribe-form {
  .col-md-12 {
    margin-top: 40px;
    margin-bottom: 70px;
    text-align: center;
  }

  .lead {
    color: $textDarkBlueColor;
  }

  &__heading {
    margin-bottom: 36px;
    color: $textDarkBlueColor;
  }

  &__square-btn {
    display: inline-block;
    padding: 0.7em;
    height: $buttonHeight;
    text-decoration: none;
    margin: 10px 30px;
    color: white;
    background-color: $buttonPurpleColor;
    width: 200px;
    border: 0;
    border-radius: 3px;
    transition: .4s;

    &:hover {
      background: $buttonhoverPurpleColor;
      color: white;
      text-decoration: none;
    }
  }
}

/* Team
-------------------------------------------------- */

.team {
  background-image: url("/img/team-background.png");

  .col-md-12 {
    margin-bottom: 48px;
    text-align: center;
  }

  h2,
  h3,
  h5 {
    color: $textDarkBlueColor;
  }

  h3,
  h5,
  &__circle-image,
  &__cntent {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .col-lg-4 {
    margin-bottom: 70px;
    text-align: center;
  }

  h2 {
    font-weight: normal;
  }

  h3 {
    font-weight: 600;
  }

  &__circle-image {
    width: 140px;
    height: 140px;
  }

  &__content {
    text-align: left;
    color: $textDarkGrayColor;
  }

  &__sns-link {
    margin-bottom: 22px;

    a:not(:first-child) {
      margin-left: 3px;
    }

    img {
      width: 23px;
      height: 20px;
    }
  }
}

/* Footer
-------------------------------------------------- */

.l-footer {
  color: white;
  text-align: center;
  background-color: $color-background-dark;
  height: 420px;
  width: 100%;
  padding: 80px 0 120px;

  &__sns-links {
    :not(:first-child) {
      margin-left: 11px;
    }

    margin-bottom: 40px;
  }

  &__twitter, &__medium {
    margin-top: 8px;
  }

  .btn-social-icon.btn-lg {
      width: 60px;
      height: 60px;
      margin: 30px;
      margin-right: 60px;
  }

  &__company {
    margin-bottom: 0;
    font-size: 2rem;
    line-height: 1.5;
  }

  &__address {
    margin-bottom: 0;

    a {
      color: white;
      font-size: smaller;
      font-size: 2rem;
      line-height: 1.5;
    }
  }
}

/* raw modal
-------------------------------------------------- */

.raw-modal {
  margin: 10% 10%;
  overflow-y: auto;
  max-height: 100%;
  color: $textDarkestGrayColor;

  &__body {
    text-align: left;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* RESPONSIVE CSS
-------------------------------------------------- */

// ex) iPhone5/5S/5c/SE
@media (min-width: 320px) {
  .cover {
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 640px) {
  body {
    // FIXME:
    margin-right: -5px;
  }

  .navbar {
    .navbar-collapse {
      border-top: 0;
    }

    &__sns-links__link {
      margin-right: 30px;
    }

    .nav {
      &__language {
        margin-top: 15px;
      }
    }
  }

  .cover {
    &__caption {
      h2 {
        font-size: 21px;
      }
    }
  }

  .service-information {
    &__logo {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 56%;
    }
    .lead {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .ico {
    &__heading {
      font-size: 20px;
    }
  }

  .footer {
    &__sns-links {
      :not(:first-child) {
        margin-left: -4px;
      }
    }
  }
}

@media (min-width: 640px) {
  .service-information {
    .lead {
      margin-bottom: $marginLeadBottomMobile;
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    padding-right: 15px;
    padding-left: 15px;

    .navbar-collapse {
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  }

  .cover {
    height: 600px;

    &__caption {
      p {
        font-size: 16px;
        line-height: 1.4;
        margin: 16px 0 20px;
      }
    }
  }

  .service-information {
    .lead {
      font-size: $subTextSize;
      line-height: $subTextLineHeight;
      margin: 20px auto;
      color: $textDarkGrayColor;
    }
  }

  .features {
    &__row {
      &__item {
        margin-top: 9px;
      }
    }
  }

  .about-japan {
    &__image-container {
      margin-top: 0;
    }
  }

  .technology {
    .lead {
      font-size: $subTextSize;
      margin: 0 auto;
      line-height: $subTextLineHeight;
      color: $textDarkGrayColor;
    }

    &__logo {
      width: 500px;
    }
  }

  .service-information,
  .features,
  .ico,
  .technology,
  .about-japan,
  .team {
    &__heading {
      font-weight: normal;
      font-size: 40px;
      margin-top: 70px;
    }
  }
}

@media (max-width: 991px) {
  .navbar {
    float: right;
    padding-left: 0;
    padding-right: 0;

    .navbar-collapse {
      border-top: 0;
    }

    .nav {
      & > li > a {
        padding-top: 0;
        padding-bottom: 0;

        &.navbar__sns-links__link {
          padding-top: 10px;
        }
      }

      &__language {
        margin-top: 15px;
        margin-bottom: 10px;
      }

      .dropdown-menu {
        min-width: 138px;
      }
    }

    .navbar-nav > li {
      margin-top: 4px;
    }
  }

  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 0;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: right !important;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important;
  }

  .collapsing {
    overflow: hidden !important;
  }
}

@media (min-width: 992px) {
  .features {
    .features-heading {
      margin-top: 120px;
    }

    &__row {
      flex-direction: row;
    }
  }

  .service-information,
  .technology {
    .lead {
      width: 800px;
    }
  }
}

@media (min-width: 1440px) {
  .cover {
    .item {
      // FIXME
      background-size: 100% !important;
    }
  }

  .ico,
  .team,
  .footer {
    background-size: 100%;
  }
}
