$elementWidth: 300px;
$buttonTextColor: white;
$elementHeight: 41px;

.mail-form {
  &__input {
    display: inline-block;
    vertical-align: middle;
    height: $elementHeight;
  }

  &__button {
    color: $buttonTextColor;
    border: 0;
    background-color: #8c9af3;
    margin-left: 0;
    width: $elementWidth;
    height: $elementHeight;
    transition: .4s;

    &:hover {
      color: $buttonTextColor;
      background-color: #858dda;
    }
  }

  .form-group {
    margin-bottom: 6px;

    .form-control {
      width: $elementWidth;
    }
  }
}

// ex) iPhone5/5S/5c/SE
@media (max-width: 640px) {
  .mail-form {
    &__button,
    &__input {
      height: 41px;
    }
  }
}

@media (min-width: 768px) {
  .mail-form {
    &__button {
      margin-left: 3px;
      width: 130px;
    }

    .form-group {
      margin-bottom: 0;
    }
  }
}
