mixin ico_schedule(week_number, alis_amount, from_datetime, to_datetime, icon_name)
  .ico__schedule
    dt.ico__schedule__heading
      | WEEK #{week_number}
      br
      | 1 ETH =
      = ' '
      strong #{alis_amount}
      = ' '
      | ALIS
    dt.ico__schedule__body
      .ico__schedule__body__section--from
        h4.ico__schedule__body__heading
          | - From -
        .ico__schedule__body__datetime
          = from_datetime
      .ico__schedule__body__section--to
        h4.ico__schedule__body__heading
          | - To -
        .ico__schedule__body__datetime
          = to_datetime
    .ico__schedule__icon
      i.fa.fa-lg(class=`fa-${icon_name}`)
