mixin mail_form
  form.mail-form.form-inline.validate(
  action="//alismedia.us16.list-manage.com/subscribe/post?u=bd653897fc5dd1bf68533972b&id=2ad006a58b",
  method="post", name="mc-embedded-subscribe-form", target="_blank", novalidate="")
    .form-group
      input.form-control.mail-form__input(type="email", value="", name="EMAIL", placeholder=mail_form.place_holder, required="")
      // for Bots.
      div(style="position: absolute; left: -5000px;", aria-hidden="true")
        input(type="text", name="b_bd653897fc5dd1bf68533972b_2ad006a58b", tabindex="-1", value="")
    input.mail-form__button.btn(type="submit", value=mail_form.button, name="subscribe")
