mixin news_card(category, date, header, body)
	.p-news-card__category= category
	.p-news-card__date= date
	h3.p-news-card__header(data-ellipsis="header")= header
	p.p-news-card__body(data-ellipsis="body")= body
