mixin team_member_sns(fb_id, twitter_id)
  p.team__sns-link
    a(href="https://www.facebook.com/" + fb_id, target="_blank")
      img(src=base_dir + '/img/facebook_logo.svg', alt='facebook')
    a(href="https://twitter.com/" + twitter_id, target="_blank")
      img(src=base_dir + '/img/twitter_logo.svg', alt='twitter')
