.modal.fade.video-modal(tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel")
  .modal-dialog(role="document").center-block
    .modal-content.center-block
      iframe(width="100%", height="100%", src="https://www.youtube.com/embed/qTZ6ejsomHg?rel=0&controls=0",
      frameborder="0", allowfullscreen="0")
